<router-outlet></router-outlet>
<app-main-banner></app-main-banner>
<div class="transactions-container">
  <div class="filters mt-4">
    <button
      class="btn-add"
      (click)="goToTransactionsList()"
    >
      Ver Transacciones
    </button>
  </div>

  <!-- Balance Section -->
  <div class="balance-section">
    <h2 class="balance-title">Saldo</h2>
    <p class="balance-amount">
      {{ calculateBalance() | currency : "COP" }}
    </p>
  </div>

  <!-- Transactions Table -->
  <div class="mt-4">
    <table class="table-std">
      <thead>
        <tr>
          <th class="table-column-std">Codigo</th>
          <th class="table-column-std">Numero de cuenta</th>
          <th class="table-column-std">Tipo de cuenta</th>
          <th class="table-column-std">Banco</th>
          <th class="table-column-std">Cuenta Contable</th>
          <th class="table-column-std">Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bank of paginatedBanks">
          <td>{{ bank.code }}</td>
          <td>
            {{ bank.account_number }}
          </td>
          <td>
            {{ bank.account_type === "savings" ? "Ahorro" : "Desconocido" }}
          </td>
          <td>{{ bank.bank }}</td>
          <td>{{ bank.ledger_account }}</td>
          <td>
            {{ bank.balance | currency : "COP" }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-between items-center mb-4">
      <!-- Controles de paginación -->
      <div class="pagination flex items-center">
        <button
          (click)="currentPage = 1; updatePaginatedBanks()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          &#8656;
        </button>
        <button
          (click)="currentPage = currentPage - 1; updatePaginatedBanks()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          &#8592;
        </button>
        <span class="mx-4 text-gray-700"
          >Página {{ currentPage }} de {{ totalPages }}</span
        >
        <button
          (click)="currentPage = currentPage + 1; updatePaginatedBanks()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          &#8594;
        </button>
        <button
          (click)="currentPage = totalPages; updatePaginatedBanks()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          &#8658;
        </button>
      </div>

      <!-- Selector de elementos por página -->
      <div class="items-per-page flex items-center">
        <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
        <select
          id="itemsPerPage"
          [(ngModel)]="itemsPerPage"
          (change)="currentPage = 1; updatePaginatedBanks()"
          class="border border-gray-300 rounded-md p-1"
        >
          <option *ngFor="let size of [2, 10, 15, 20]" [value]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
