<!-- inventory.component.html -->
<app-main-banner></app-main-banner>
  
    <!-- Sidebar and Content -->
    <div class="flex mt-4">
      <!-- Sidebar -->
      <div class="sidebar w-1/4 border-r pr-4 border border-gray-300">
        <h2 class="font-bold">Materiales</h2>
        <ul class="mt-2">
          <li
            *ngFor="let material of materials"
            class="cursor-pointer hover:underline border border-gray-300"
            (click)="selectMaterial(material)"
          >
            {{ material }}
          </li>
        </ul>
      </div>
  
      <!-- Main Content -->
      <div class="content w-3/4 pl-4">
        <h2 class="text-xl font-bold mb-4">Detalles de Materiales</h2>
  
        <!-- Show a message if a material is not selected-->
        <p *ngIf="!selectedMaterialDetails">Selecciona un material para ver más detalles.</p>
  
        <!-- Render details in table format -->
        <div *ngIf="selectedMaterialDetails">
          <table class="table-auto border-collapse border border-gray-400 w-full">
            <thead>
              <tr>
                <th class="border border-gray-300 px-4 py-2 bg-gray-200">Tipo</th>
                <th class="border border-gray-300 px-4 py-2 bg-gray-200">Cantidad</th>
                <th class="border border-gray-300 px-4 py-2 bg-gray-200">Precio</th>
                <th class="border border-gray-300 px-4 py-2 bg-gray-200">Color</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of selectedMaterialDetails">
                <td class="border border-gray-300 px-4 py-2">{{ detail.tipo }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ detail.cantidad }} mts</td>
                <td class="border border-gray-300 px-4 py-2">${{ detail.precio }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ detail.color }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  