<app-main-banner></app-main-banner>
<div class="notifications-container">
  <!-- To Collect Section -->
  <div *ngIf="userRole == 'admin'" class="notification-section">
    <h2 class="section-title">
      Por Cobrar
      <span class="notification-count">{{ toCollect.length }}</span>
    </h2>
    <ul>
      <li *ngFor="let notification of toCollect">
        {{ notification.description }}
      </li>
    </ul>
  </div>

  <!-- To Pay Section -->
  <div *ngIf="userRole == 'admin'" class="notification-section">
    <h2 class="section-title">
      Por Pagar
      <span class="notification-count">{{ toPay.length }}</span>
    </h2>
    <ul>
      <li *ngFor="let notification of toPay">
        {{ notification.description }}
      </li>
    </ul>
  </div>

  <!-- Low Stock Section -->
  <div *ngIf="userRole == 'admin'" class="notification-section">
    <h2 class="section-title">
      Bajo Stock
      <span class="notification-count">{{ lowStock.length }}</span>
    </h2>
    <ul>
      <li *ngFor="let notification of lowStock">
        {{ getUpdatedDescription(notification.description) }}
      </li>
    </ul>
  </div>
  <!-- Cuts Orders Section -->
  <div *ngIf="userRole == 'cuts_employee'" class="notification-section">
    <h2 class="section-title">
      Ordenes nuevas
      <span class="notification-count">{{ cutsOrders.length }}</span>
    </h2>
    <ul>
      <li *ngFor="let notification of cutsOrders" class="relative">
        {{ getUpdatedDescription(notification.description) }}
        <button
          class="absolute top-1 right-1 cursor-pointer bg-red-500 text-white rounded p-1 hover:bg-red-600"
          (click)="deleteNotification(notification)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <!-- Prints Orders Section -->
  <div *ngIf="userRole == 'prints_employee'" class="notification-section">
    <h2 class="section-title">
      Ordenes nuevas
      <span class="notification-count">{{ printsOrders.length }}</span>
    </h2>
    <ul>
      <li *ngFor="let notification of printsOrders" class="relative">
        {{ getUpdatedDescription(notification.description) }}
        <button
          class="absolute top-1 right-1 cursor-pointer bg-red-500 text-white rounded p-1 hover:bg-red-600"
          (click)="deleteNotification(notification)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div *ngIf="userRole == 'admin'" class="notification-section">
    <h2 class="section-title">
      Recordatorio
      <span class="notification-count">{{ reminders.length }}</span>
    </h2>
    <!-- Reminders Section -->
    <ng-template>
      <ul>
        <li
          *ngFor="let notification of reminders"
          class="relative p-4 border-b"
        >
          <div class="flex justify-between items-start">
            <!-- Notification Description -->
            <div>
              <p>{{ notification.description }}</p>
              <p class="text-xs text-gray-400">
                Plazo: {{ notification.due_date }}
              </p>
            </div>

            <!-- Button -->
            <button
              class="absolute top-1 right-12 cursor-pointer bg-yellow-500 text-white rounded p-1 hover:bg-yellow-600"
              (click)="selectNotification(notification)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                />
              </svg>
            </button>
            <button
              class="absolute top-1 right-1 cursor-pointer bg-red-500 text-white rounded p-1 hover:bg-red-600"
              (click)="deleteNotification(notification)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                />
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </ng-template>

    <button
      class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 bottom-0 right-0"
      (click)="toggleReminderForm()"
    >
      Crear Recordatorio
    </button>
  </div>
</div>
<!-- Form to add reminder -->
<div
  *ngIf="showAddReminderForm"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div class="bg-white modal-width rounded-lg shadow-lg p-6">
    <h3 class="text-lg font-bold mb-4">Añadir Nuevo Recordatorio</h3>
    <form (ngSubmit)="generateReminder(reminderForm)">
      <div class="mb-4">
        <label class="block text-gray-700">Descripcion</label>
        <input
          [(ngModel)]="reminderForm.description"
          name="description"
          class="form-input mt-1 block w-full"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Fecha</label>
        <input
          type="date"
          [(ngModel)]="reminderForm.due_date"
          name="due"
          class="form-input mt-1 block w-full"
        />
      </div>

      <div class="flex justify-end">
        <button type="button" class="btn-danger" (click)="toggleReminderForm()">
          Cancelar
        </button>
        <button type="submit" class="btn-success">Guardar Recordatorio</button>
      </div>
    </form>
  </div>
</div>
<!-- Form to update reminder -->
<div
  *ngIf="showEditReminderForm && selectedNotification"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div class="bg-white modal-width rounded-lg shadow-lg p-6">
    <h3 class="text-lg font-bold mb-4">Editar Recordatorio</h3>
    <form (ngSubmit)="editReminder(selectedNotification)">
      <div class="mb-4">
        <label class="block text-gray-700">Descripcion</label>
        <input
          [(ngModel)]="selectedNotification.description"
          name="description"
          class="form-input mt-1 block w-full"
          placeholder="{{ selectedNotification.description }}"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Fecha</label>
        <input
          type="date"
          [(ngModel)]="selectedNotification.due_date"
          name="due_date"
          class="form-input mt-1 block w-full"
          placeholder="{{ selectedNotification.due_date }}"
        />
      </div>

      <div class="flex justify-end">
        <button
          type="button"
          class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md mr-2"
          (click)="toggleEditReminderForm()"
        >
          Cancelar
        </button>
        <button
          type="submit"
          style="
            background-color: red;
            color: white;
            border: 1px solid black;
            padding: 10px;
          "
          class="btn-success"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
