<router-outlet></router-outlet>
<app-main-banner></app-main-banner>
<div class="transactions-container">
  <button
  class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-700"
  (click)="goToBanksList()"
>
  Ver Bancos
</button>
  <!-- Filters Section -->
  <div class="filters">
    <div class="filter-item">
      <label for="bank">Banco:</label>
      <select
        id="bank"
        [(ngModel)]="selectedBank"
        (change)="updateFilteredTransactions()"
        class="filter-input"
      >
        <option value="">Todos</option>
        <option *ngFor="let bank of banks" [value]="bank.id">
          {{ bank.bank }}
        </option>
      </select>
    </div>
    <div class="flex items-center space-x-4">
      <div>
        <label for="startDate" class="mr-2 font-semibold">Desde:</label>
        <input
          type="date"
          id="startDate"
          [(ngModel)]="startDate"
          (ngModelChange)="updateFilteredTransactions()"
          class="border border-gray-300 rounded-md p-1"
        />
      </div>
      <div>
        <label for="endDate" class="mr-2 font-semibold">Hasta:</label>
        <input
          type="date"
          id="endDate"
          [(ngModel)]="endDate"
          (ngModelChange)="updateFilteredTransactions()"
          class="border border-gray-300 rounded-md p-1"
        />
      </div>
    </div>
   




</div>
  <!-- Balance Section -->
  <div class="balance-section justify-center">
    <h2 class="balance-title">Saldo</h2>
    <p class="balance-amount">
      {{ calculateBalance() | currency : "COP" }}
    </p>
  </div>
  <!-- Transactions Table -->
  <div class="transactions-table">
    <table class="table-std">
      <thead>
        <tr class="bg-gray-100">
          <th class="table-column-std">Codigo</th>
          <th class="table-column-std">Fecha</th>
          <th class="table-column-std">Banco</th>
          <th class="table-column-std">Descripción</th>
          <th class="table-column-std">Entrada</th>
          <th class="table-column-std">Salida</th>
          <th class="table-column-std">Categoría</th>
          <th class="table-column-std">Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of paginatedBanking">
          <td>{{ transaction.code }}</td>
          <td>
            {{ transaction.created_at | date : "dd-MM-yyyy" }}
          </td>
          <td>{{ getBankName(transaction.id_bank) }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.in | currency : "COP" }}</td>
          <td>{{ transaction.out | currency : "COP" }}</td>
          <td>{{ transaction.category === 'sales' ? 'Venta' : 'Desconocido' }}</td>
          <td>
            {{ transaction.balance | currency : "COP" }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-between items-center mb-4">
      <!-- Controles de paginación -->
      <div class="pagination flex items-center">
        <button
          (click)="currentPage = 1; updatePaginatedBanking()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          &#8656;
        </button>
        <button
          (click)="currentPage = currentPage - 1; updatePaginatedBanking()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          &#8592;
        </button>
        <span class="mx-4 text-gray-700">Página {{ currentPage }} de {{ totalPages }}</span>
        <button
          (click)="currentPage = currentPage + 1; updatePaginatedBanking()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          &#8594;
        </button>
        <button
          (click)="currentPage = totalPages; updatePaginatedBanking()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          &#8658;
        </button>
      </div>
    
      <!-- Selector de elementos por página -->
      <div class="items-per-page flex items-center">
        <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
        <select
          id="itemsPerPage"
          [(ngModel)]="itemsPerPage"
          (change)="currentPage = 1; updatePaginatedBanking()"
          class="border border-gray-300 rounded-md p-1"
        >
          <option *ngFor="let size of [2, 10, 15, 20]" [value]="size">{{ size }}</option>
        </select>
      </div>  
    </div>
  </div>