<router-outlet></router-outlet>
<app-main-banner></app-main-banner>

<!-- Loading Indicator -->
<div *ngIf="loading" class="p-4 text-center text-gray-600">
  <p>Cargando clientes...</p>
</div>
<div class="flex justify-between items-center mb-4 mt-4 ml-2">
  <label>
    <input type="checkbox" [(ngModel)]="filterDebt" (change)="searchClient()" />
    Mostrar solo clientes con deuda
  </label>

  <div class="flex space-x-2 mr-4">
    <button
      class="btn-add inline-flex items-center space-x-2"
      (click)="addNewClient()"
    >
      <svg
        class="w-5 h-5 inline-block align-middle mt-[3px]"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
          fill="#ffffff"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
          fill="#ffffff"
        />
      </svg>
      <span>Añadir</span>
    </button>
    <button class="btn-details" (click)="generateClientsKardex()">
      Generar Kardex
    </button>
    <button class="btn-clear" (click)="clearFilters()">Limpiar</button>
  </div>
</div>
<!-- Search bar and filter by debt -->
<div class="flex items-center justify-center py-4 space-x-4 top-5">
  <div class="w-full max-w-md relative">
    <input
      type="text"
      placeholder="Buscar cliente por nombre..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="searchClient()"
      class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
    />
  </div>
</div>

<div>
  <!-- No clients found -->
  <div *ngIf="noResultsFound" class="p-4 text-center text-gray-600">
    <p>No hay coincidencias con la busqueda.</p>
  </div>

  <div *ngIf="!loading && !noResultsFound">
    <table class="table-std">
      <thead>
        <tr>
          <th class="table-column-std">Nombre</th>
          <th class="table-column-std">Correo</th>
          <th class="table-column-std">NIT / CC</th>
          <th class="table-column-std">Estado</th>
          <th class="w-1/6">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let client of paginatedClients"
          [class.border-red-500]="client.status === 'overdue'"
          [class.border-green-500]="client.status === 'upToDate'"
        >
          <td>
            {{
              client.company_name && client.company_name.trim() !== ""
                ? client.company_name
                : client.name
            }}
          </td>
          <td>{{ client.email }}</td>
          <td>
            {{ client.nit ?? client.document_number }}
          </td>
          <td
            [class.text-green-600]="client.status === 'upToDate'"
            [class.text-red-600]="client.status === 'overdue'"
          >
            {{
              client.status === "upToDate"
                ? "Al Día"
                : client.status === "overdue"
                ? "En Mora"
                : "Desconocido"
            }}
          </td>
          <td>
            <button
              class="btn-details"
              (click)="openClientModal(client); $event.stopPropagation()"
            >
              Detalles
            </button>
            <button
              class="btn-edit"
              (click)="editClient(client); $event.stopPropagation()"
            >
              Editar
            </button>
            <button
              class="btn-delete"
              (click)="deleteClient(client); $event.stopPropagation()"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal para detalles del cliente -->
    <div *ngIf="showClientModal" class="modal-overlay">
      <div class="modal-content modal-h250" [class.expanded]="modalExpanded">
        <h3 class="text-lg font-bold mb-4">
          Cliente: {{ selectedClient?.name }}
        </h3>
        <div class="flex space-x-4 mb-4">
          <button
            (click)="toggleOrders(selectedClient)"
            class="btn-liquidation"
          >
            Mostrar Pedidos
          </button>
          <button class="btn-liquidation" (click)="toggleExtractFilters()">
            Descargar Extracto
          </button>
          <button class="btn-details" (click)="toggleClientDetails()">
            {{ showDetails ? "Ocultar Detalles" : "Mostrar Detalles" }}
          </button>
        </div>

        <!-- Detalles del cliente -->
        <div *ngIf="showDetails && selectedClient">
          <p><strong>Nombre:</strong> {{ selectedClient.name }}</p>
          <p><strong>Email:</strong> {{ selectedClient.email }}</p>
          <p>
            <strong>Tipo de Documento:</strong>
            {{ selectedClient.document_type }}
          </p>
          <p>
            <strong>Docuemnto:</strong> {{ selectedClient.document_number }}
          </p>
          <p><strong>Teléfono:</strong> {{ selectedClient.cellphone }}</p>
          <p><strong>Dirección:</strong> {{ selectedClient.address }}</p>
          <!--
          <p>
            <strong>Tipo de Cliente(Regimen Tributario):</strong>
            {{ selectedClient.tax_regime }}
          </p>
          <p>
            <strong>Es declarante de renta:</strong>
            {{
              selectedClient.retefuente === true
                ? "si"
                : selectedClient.retefuente === false
                ? "no"
                : "otro"
            }}
          </p>
          <p>
            <strong>Aplica retencion de ICA:</strong>
            {{
              selectedClient.applies_ica_retention === true
                ? "si"
                : selectedClient.applies_ica_retention === false
                ? "no"
                : "otro"
            }}
          </p>
          <p>
            <strong>Aplica retencion de fuente:</strong>
            {{
              selectedClient.retefuente === true
                ? "si"
                : selectedClient.retefuente === false
                ? "no"
                : "otro"
            }}
          </p>
          -->
          <p>
            <strong>Estado:</strong>
            {{
              selectedClient.status === "upToDate"
                ? "Al Dia"
                : selectedClient.status === "overdue"
                ? "En Mora"
                : "otro"
            }}
          </p>
          <p>
            <strong>Limite de credito:</strong>
            {{ selectedClient.credit_limit }}
          </p>

          <p>
            <strong>Deuda:</strong>
            <span
              [class.text-green-600]="selectedClient.debt === 0"
              [class.text-red-600]="selectedClient.debt > 0"
            >
              {{
                selectedClient.debt > 0
                  ? "$" + selectedClient.debt
                  : "Sin Deuda"
              }}
            </span>
          </p>
        </div>
        <div
          *ngIf="showExtractFilters"
          class="mt-5 p-4 border rounded-lg bg-gray-50 space-y-4"
        >
          <!-- Filtros -->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
              <label class="block text-sm font-semibold mb-1">Estado</label>
              <select [(ngModel)]="extractStatusFilter" class="input w-full">
                <option value="all">Todos los pedidos</option>
                <option value="overdue">Solo pedidos en mora</option>
              </select>
            </div>

            <div>
              <label class="block text-sm font-semibold mb-1">Desde</label>
              <input
                type="date"
                [(ngModel)]="extractFromDate"
                class="border rounded p-1"
              />
            </div>

            <div>
              <label class="block text-sm font-semibold mb-1">Hasta</label>
              <input
                type="date"
                [(ngModel)]="extractToDate"
                class="border rounded p-1"
              />
            </div>
          </div>

          <!-- Mensaje de error o información -->
          <div *ngIf="extractMessage" class="text-sm text-red-600 mt-2">
            {{ extractMessage }}
          </div>

          <!-- Acción -->
          <div class="flex justify-start pt-2">
            <button class="btn-primary px-5 py-2" (click)="downloadExtract()">
              Descargar PDF
            </button>
          </div>
        </div>

        <!-- Botones en la parte inferior derecha -->
        <div
          class="flex justify-end absolute bottom-2 right-2 mt-4 mb-2 space-x-2"
        >
          <button
            class="btn-danger px-4 py-2 rounded-md"
            (click)="closeClientModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <!-- Modal para mostrar pedidos -->
    <div *ngIf="showOrders" class="modal-overlay top modal-h">
      <div class="modal-content top modal-h550 modal-w1200">
        <h3 class="text-lg font-bold mb-4">
          Pedidos del Cliente: {{ selectedClient?.name }}
        </h3>

        <!-- Filtros de fecha -->
        <div class="flex items-center space-x-4 mb-4">
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-1"
              >Desde:</label
            >
            <input
              type="date"
              [(ngModel)]="startDate"
              (change)="updatePaginatedOrders()"
              class="border rounded p-1"
            />
          </div>
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-1"
              >Hasta:</label
            >
            <input
              type="date"
              [(ngModel)]="endDate"
              (change)="updatePaginatedOrders()"
              class="border rounded p-1"
            />
          </div>

          <label>
            <input
              type="checkbox"
              [(ngModel)]="onlyWithDebt"
              (change)="updatePaginatedOrders()"
            />
            Mostrar solo pedidos con deuda
          </label>

          <button
            (click)="clearDateFilters()"
            class="bg-gray-500 text-white px-3 py-1 rounded-md hover:bg-gray-600 mt-5"
          >
            Limpiar Filtros
          </button>
        </div>
        <table class="w-full border-collapse">
          <thead>
            <tr class="bg-gray-100">
              <th class="modal-table-column">#</th>
              <th class="modal-table-column">Fecha</th>
              <th class="modal-table-column">Detalles</th>
              <th class="modal-table-column">Total</th>
              <th class="modal-table-column">Por pagar</th>
              <th class="modal-table-column">Estado de pago</th>
              <th class="modal-table-column">Abonos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of paginatedOrders">
              <td class="modal-table-column">{{ order.code }}</td>
              <td class="modal-table-column">
                {{ order.created_at | date : "dd-MM-yyyy" }}
              </td>
              <td class="modal-table-column">{{ order.description }}</td>
              <td class="modal-table-column">
                ${{ calculateOrderTotal(order).toFixed(2) }}
                {{ order.include_iva ? "" : "" }}
              </td>
              <td
                class="modal-table-column"
                [class.text-red-600]="getOrderDebt(order) > 0"
                [class.text-green-600]="getOrderDebt(order) === 0"
              >
                {{
                  getOrderDebt(order) > 0
                    ? '$' + getOrderDebt(order).toFixed(2)
                    : 'Pagado'
                }}
              </td>
              <td
                class="modal-table-column"
                [class.text-green-600]="
                  order.order_payment_status === 'upToDate'
                "
                [class.text-red-600]="order.order_payment_status === 'overdue'"
              >
                {{
                  order.order_payment_status === "upToDate"
                    ? "Al Día"
                    : order.order_payment_status === "overdue"
                    ? "En Mora"
                    : "Desconocido"
                }}
              </td>
              <td class="modal-table-column">
                <!-- Mostrar abonos existentes -->
                <div *ngIf="order.payments && order.payments.length > 0">
                  <ul>
                    <li *ngFor="let payment of order.payments">
                      ${{ payment.amount.toFixed(2) }} -
                      {{ formatPaymentMethod(payment.payment_method) }} -
                      {{ payment.payment_date | date : "dd-MM-yyyy" }}
                    </li>
                  </ul>
                </div>
                <div *ngIf="!order.payments || order.payments.length === 0">
                  Sin abonos
                </div>
              </td>
            </tr>
            <tr *ngIf="paginatedOrders.length === 0">
              <td
                colspan="6"
                class="modal-table-column text-center text-gray-500"
              >
                No hay pedidos en el rango de fechas seleccionado
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Paginación -->
        <div class="flex justify-between items-center mb-4">
          <div class="pagination flex items-center">
            <button
              (click)="currentOrderPage = 1; updatePaginatedOrders()"
              [disabled]="currentOrderPage === 1"
              class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
            >
              ⇐
            </button>
            <button
              (click)="
                currentOrderPage = currentOrderPage - 1; updatePaginatedOrders()
              "
              [disabled]="currentOrderPage === 1"
              class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
            >
              ←
            </button>
            <span class="mx-4 text-gray-700">
              Página {{ currentOrderPage }} de {{ totalOrderPages }}
            </span>
            <button
              (click)="
                currentOrderPage = currentOrderPage + 1; updatePaginatedOrders()
              "
              [disabled]="currentOrderPage === totalOrderPages"
              class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
            >
              →
            </button>
            <button
              (click)="
                currentOrderPage = totalOrderPages; updatePaginatedOrders()
              "
              [disabled]="currentOrderPage === totalOrderPages"
              class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
            >
              ⇒
            </button>
          </div>
          <div class="items-per-page flex items-center">
            <label for="itemsPerPageOrders" class="mr-2">
              Elementos por página:
            </label>
            <select
              id="itemsPerPageOrders"
              [(ngModel)]="itemsPerOrderPage"
              (change)="currentOrderPage = 1; updatePaginatedOrders()"
              class="border border-gray-300 rounded-md p-1"
            >
              <option *ngFor="let size of [10, 15, 25, 50]" [value]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
        <!-- Campo y botón para Abono Global -->
        <div class="flex items-center gap-2 mb-4" *ngIf="selectedClient">
          <input
            type="number"
            min="0"
            [(ngModel)]="newPaymentAmount"
            placeholder="Monto del abono global"
            class="border border-gray-300 rounded-md p-2 w-48"
          />

          <select
            [(ngModel)]="selectedPaymentMethod"
            class="border border-gray-300 rounded-md p-2"
          >
            <option value="cash">Efectivo</option>
            <option value="nequi">Nequi</option>
            <option value="bancolombia">Bancolombia</option>
            <option value="davivienda">Davivienda</option>
            <option value="other">Otro</option>
          </select>

          <button
            (click)="applyGlobalPaymentToSelectedClient(newPaymentAmount, selectedPaymentMethod)"
            class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-md"
          >
            Aplicar Abono Global
          </button>
        </div>

        <div class="flex justify-end mt-4">
          <button class="btn-danger" (click)="toggleOrders(null)">
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <!-- Paginación de la tabla principal -->
    <div class="flex justify-between items-center mb-4">
      <div class="pagination flex items-center">
        <button
          (click)="currentPage = 1; updatePaginatedClients()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          ⇐
        </button>
        <button
          (click)="currentPage = currentPage - 1; updatePaginatedClients()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          ←
        </button>
        <span class="mx-4 text-gray-700">
          Página {{ currentPage }} de {{ totalPages }}
        </span>
        <button
          (click)="currentPage = currentPage + 1; updatePaginatedClients()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          →
        </button>
        <button
          (click)="currentPage = totalPages; updatePaginatedClients()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          ⇒
        </button>
      </div>
      <div class="items-per-page flex items-center">
        <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
        <select
          id="itemsPerPage"
          [(ngModel)]="itemsPerPage"
          (change)="currentPage = 1; updatePaginatedClients()"
          class="border border-gray-300 rounded-md p-1"
        >
          <option *ngFor="let size of [2, 10, 15, 20]" [value]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>

    <!-- Formulario para añadir/editar clientes -->
    <div *ngIf="showModal" class="modal-overlay">
      <div class="modal-content">
        <h3 class="text-lg font-bold mb-4">
          {{ isEditing ? "Editar Cliente" : "Añadir Cliente" }}
        </h3>
        <form (ngSubmit)="saveClient()">
          <div class="mb-4">
            <label class="block modal-input-item"
              >Nombre<span class="text-red-500">*</span></label
            >
            <input
              [(ngModel)]="selectedClientData.name"
              name="name"
              class="form-input mt-1 block w-full"
              required
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Correo Electrónico</label>
            <input
              type="email"
              [(ngModel)]="selectedClientData.email"
              name="email"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Tipo de Documento</label>
            <select
              [(ngModel)]="selectedClientData.document_type"
              name="order_type"
              class="form-select mt-1 block w-full"
            >
              <option value="NIT">NIT</option>
              <option value="civil registry">Registro civil</option>
              <option value="identity card">Tarjeta de identidad</option>
              <option value="citizenship card">Cédula de ciudadanía</option>
              <option value="alien card">Tarjeta de extranjería</option>
              <option value="foreigner's identity card">
                Cédula de extranjería
              </option>
              <option value="passport">Pasaporte</option>
              <option value="foreign identifiaction document">
                Documento de identificación extranjero
              </option>
              <option value="NIT from another country">NIT de otro país</option>
              <option value="NUIP">NUIP</option>
            </select>
          </div>
          <div class="mb-4">
            <label class="block modal-input-item"
              >Identificación/Documento</label
            >
            <input
              [(ngModel)]="selectedClientData.document_number"
              name="document_number"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Teléfono</label>
            <input
              type="number"
              [(ngModel)]="selectedClientData.cellphone"
              name="cellphone"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Dirección</label>
            <input
              type="text"
              [(ngModel)]="selectedClientData.address"
              name="address"
              class="form-input mt-1 block w-full"
            />
          </div>
          <!--
          <div class="mb-4">
            <label class="block modal-input-item"
              >Tipo de Cliente (Régimen Tributario)</label
            >
            <select
              [(ngModel)]="selectedClientData.tax_regime"
              (ngModelChange)="onTaxRegimeChange($event)"
              name="tax_regime"
              class="form-select mt-1 block w-full"
            >
              <option [ngValue]="1">Gran Contribuyente Autorretenedor</option>
              <option [ngValue]="2">Gran Contribuyente</option>
              <option [ngValue]="3">Responsable de IVA</option>
              <option [ngValue]="4">No Responsable de IVA</option>
              <option [ngValue]="5">Régimen Simple</option>
            </select>
          </div>
          <div class="flex flex-wrap gap-4 mt-4">
            <label class="block modal-input-item">
              <input
                type="checkbox"
                [(ngModel)]="selectedClientData.is_declarante"
                name="is_declarante"
              />
              ¿Es declarante de renta?
            </label>
            <label class="block modal-input-item">
              <input
                type="checkbox"
                [(ngModel)]="selectedClientData.retefuente"
                name="retefuente"
              />
              ¿Aplica retención en la fuente?
            </label>
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">
              <input
                type="checkbox"
                [(ngModel)]="selectedClientData.applies_ica_retention"
                name="applies_ica_retention"
              />
              ¿Aplica retención de ICA?
            </label>
          </div>
          -->
          <div class="mb-4">
            <label class="block modal-input-item">Estado</label>
            <select
              [(ngModel)]="selectedClientData.status"
              name="status"
              class="form-select mt-1 block w-full"
            >
              <option value="upToDate">Al Día</option>
              <option value="overdue">En Mora</option>
            </select>
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Limite de creditos</label>
            <input
              [(ngModel)]="selectedClientData.credit_limit"
              name="credit_limit"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4" *ngIf="isEditing">
            <label class="block modal-input-item">
              Descuento Predeterminado (%)
            </label>
            <input
              type="number"
              step="0.1"
              min="0"
              max="100"
              [(ngModel)]="selectedClientData!.default_discount"
              name="defaultDiscount"
              class="form-input mt-1 block w-full border border-gray-300 rounded-md"
              placeholder="Ej: 5"
            />
          </div>
          <div class="flex justify-end">
            <button type="button" class="btn-danger" (click)="closeModal()">
              Cancelar
            </button>
            <button type="submit" class="btn-success">
              {{ isEditing ? "Actualizar Cliente" : "Guardar Cliente" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
