<router-outlet></router-outlet>
<app-main-banner></app-main-banner>

<!-- Loading Indicator -->
<div *ngIf="loading" class="p-4 text-center text-gray-600">
  <p>Cargando clientes...</p>
</div>
<div class="flex justify-between items-center mb-4 mt-4 ml-2">
  <label>
    <input type="checkbox" [(ngModel)]="filterDebt" (change)="searchClient()" />
    Mostrar solo clientes con deuda
  </label>

  <div class="flex space-x-2">
    <button
      class="bg-red-500 text-white text-right px-4 py-2 items-end rounded-md hover:bg-red-600 mr-4"
      (click)="addNewClient()"
    >
      Añadir Cliente
    </button>
    <button
      class="bg-red-500 text-white text-right px-4 py-2 items-end rounded-md hover:bg-red-600 mr-4"
      (click)="generateClientsKardex()"
    >
      Generar Kardex
    </button>
  </div>
</div>
<!-- Search bar and filter by debt -->
<div class="flex items-center justify-center py-4 space-x-4 top-5">
  <div class="w-full max-w-md relative">
    <input
      type="text"
      placeholder="Buscar cliente por nombre..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="searchClient()"
      class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
    />
  </div>
</div>

<div>
  <!-- No clients found -->
  <div *ngIf="noResultsFound" class="p-4 text-center text-gray-600">
    <p>No hay coincidencias con la busqueda.</p>
  </div>

  <div *ngIf="!loading && !noResultsFound">
    <table class="table-std">
      <thead>
        <tr>
          <th class="table-column-std">Nombre</th>
          <th class="table-column-std">Correo</th>
          <th class="table-column-std">NIT / CC</th>
          <th class="table-column-std">Estado</th>
          <th class="w-1/6">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let client of paginatedClients"
          [class.border-red-500]="client.status === 'overdue'"
          [class.border-green-500]="client.status === 'upToDate'"
        >
          <td>
            {{
              client.company_name && client.company_name.trim() !== ""
                ? client.company_name
                : client.name
            }}
          </td>
          <td>{{ client.email }}</td>
          <td>
            {{ client.nit ?? client.document_number }}
          </td>
          <td
            [class.text-green-600]="client.status === 'upToDate'"
            [class.text-red-600]="client.status === 'overdue'"
          >
            {{
              client.status === "upToDate"
                ? "Al Día"
                : client.status === "overdue"
                ? "En Mora"
                : "Desconocido"
            }}
          </td>
          <td>
            <button
              class="btn-details"
              (click)="openClientModal(client); $event.stopPropagation()"
            >
              Detalles
            </button>
            <button
              class="btn-edit"
              (click)="editClient(client); $event.stopPropagation()"
            >
              Editar
            </button>
            <button
              class="btn-delete"
              (click)="deleteClient(client); $event.stopPropagation()"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal para detalles del cliente -->
    <div *ngIf="showClientModal" class="modal-overlay">
      <div class="modal-content modal-h250" [class.expanded]="modalExpanded">
        <h3 class="text-lg font-bold mb-4">
          Cliente: {{ selectedClient?.name }}
        </h3>
        <div class="flex space-x-4 mb-4">
          <button
            (click)="toggleOrders(selectedClient)"
            class="bg-red-500 text-white p-2 rounded-md hover:bg-red-600"
          >
            Mostrar Pedidos
          </button>
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
            (click)="generatePDF()"
          >
            Descargar Extracto
          </button>
          <button
            class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600"
            (click)="toggleClientDetails()"
          >
            {{ showDetails ? "Ocultar Detalles" : "Mostrar Detalles" }}
          </button>
        </div>

        <!-- Detalles del cliente -->
        <div *ngIf="showDetails && selectedClient">
          <p><strong>Teléfono:</strong> {{ selectedClient.cellphone }}</p>
          <p><strong>Dirección:</strong> {{ selectedClient.address }}</p>
          <p>
            <strong>Deuda:</strong>
            <span
              [class.text-green-600]="selectedClient.debt === 0"
              [class.text-red-600]="selectedClient.debt > 0"
            >
              {{
                selectedClient.debt > 0
                  ? "$" + selectedClient.debt
                  : "Sin Deuda"
              }}
            </span>
          </p>
          <p>
            <strong>Límite de Crédito:</strong> ${{
              selectedClient.credit_limit
            }}
          </p>
          <!-- Campo para editar el límite de crédito (solo admin) -->
          <div *ngIf="userRole === 'admin' && selectedClient" class="mt-2">
            <label for="creditLimit" class="block text-gray-700"
              >Actualizar Límite de Crédito:</label
            >
            <input
              type="number"
              id="creditLimit"
              [(ngModel)]="selectedClient.credit_limit"
              name="creditLimit"
              class="border p-1 mt-1 block w-full"
            />
            <button
              class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 mt-2"
              (click)="updateCreditLimit(selectedClient)"
            >
              Guardar
            </button>
          </div>
        </div>

        <!-- Botón para cerrar el modal -->
        <div class="flex justify-end absolute bottom- right-2 mt-4 mb-2">
          <button class="btn-danger" (click)="closeClientModal()">
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <!-- Modal para mostrar pedidos -->
    <div *ngIf="showOrders" class="modal-overlay top modal-h">
      <div class="modal-content top modal-h400 modal-w720">
        <h3 class="text-lg font-bold mb-4">
          Pedidos del Cliente: {{ selectedClient?.name }}
        </h3>
        <!-- Filtros de fecha -->
        <div class="flex items-center space-x-4 mb-4">
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-1"
              >Desde:</label
            >
            <input
              type="date"
              [(ngModel)]="startDate"
              (change)="updatePaginatedOrders()"
              class="border rounded p-1"
            />
          </div>
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-1"
              >Hasta:</label
            >
            <input
              type="date"
              [(ngModel)]="endDate"
              (change)="updatePaginatedOrders()"
              class="border rounded p-1"
            />
          </div>
          <button
            (click)="clearDateFilters()"
            class="bg-gray-500 text-white px-3 py-1 rounded-md hover:bg-gray-600 mt-5"
          >
            Limpiar Filtros
          </button>
        </div>
        <table class="w-full border-collapse">
          <thead>
            <tr class="bg-gray-100">
              <th class="modal-table-column">#</th>
              <th class="modal-table-column">Fecha</th>
              <th class="modal-table-column">Detalles</th>
              <th class="modal-table-column">Total</th>
              <th class="modal-table-column">Estado de pago</th>
              <th class="modal-table-column">Abonos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of paginatedOrders">
              <td class="modal-table-column">{{ order.code }}</td>
              <td class="modal-table-column">
                {{ order.created_at | date : "dd-MM-yyyy" }}
              </td>
              <td class="modal-table-column">{{ order.description }}</td>
              <td class="modal-table-column">
                ${{ calculateOrderTotal(order).toFixed(2) }}
                {{ order.include_iva ? "" : "" }}
              </td>
              <td
                class="modal-table-column"
                [class.text-green-600]="
                  order.order_payment_status === 'upToDate'
                "
                [class.text-red-600]="order.order_payment_status === 'overdue'"
              >
                {{
                  order.order_payment_status === "upToDate"
                    ? "Al Día"
                    : order.order_payment_status === "overdue"
                    ? "En Mora"
                    : "Desconocido"
                }}
              </td>
              <td class="modal-table-column">
                <!-- Mostrar abonos existentes -->
                <div *ngIf="order.payments && order.payments.length > 0">
                  <ul>
                    <li *ngFor="let payment of order.payments">
                      ${{ payment.amount }} -
                      {{ payment.payment_date | date : "dd-MM-yyyy" }}
                    </li>
                  </ul>
                </div>
                <div *ngIf="!order.payments || order.payments.length === 0">
                  Sin abonos
                </div>
              </td>
            </tr>
            <tr *ngIf="paginatedOrders.length === 0">
              <td colspan="6" class="modal-table-column text-center text-gray-500">
                No hay pedidos en el rango de fechas seleccionado
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Paginación -->
        <div class="flex justify-between items-center mb-4">
          <div class="pagination flex items-center">
            <button
              (click)="currentOrderPage = 1; updatePaginatedOrders()"
              [disabled]="currentOrderPage === 1"
              class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
            >
              ⇐
            </button>
            <button
              (click)="
                currentOrderPage = currentOrderPage - 1; updatePaginatedOrders()
              "
              [disabled]="currentOrderPage === 1"
              class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
            >
              ←
            </button>
            <span class="mx-4 text-gray-700">
              Página {{ currentOrderPage }} de {{ totalOrderPages }}
            </span>
            <button
              (click)="
                currentOrderPage = currentOrderPage + 1; updatePaginatedOrders()
              "
              [disabled]="currentOrderPage === totalOrderPages"
              class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
            >
              →
            </button>
            <button
              (click)="
                currentOrderPage = totalOrderPages; updatePaginatedOrders()
              "
              [disabled]="currentOrderPage === totalOrderPages"
              class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
            >
              ⇒
            </button>
          </div>
          <div class="items-per-page flex items-center">
            <label for="itemsPerPageOrders" class="mr-2">
              Elementos por página:
            </label>
            <select
              id="itemsPerPageOrders"
              [(ngModel)]="itemsPerOrderPage"
              (change)="currentOrderPage = 1; updatePaginatedOrders()"
              class="border border-gray-300 rounded-md p-1"
            >
              <option *ngFor="let size of [10, 15, 25, 50]" [value]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
        <div class="flex justify-end mt-4">
          <button class="btn-danger" (click)="toggleOrders(null)">
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <!-- Paginación de la tabla principal -->
    <div class="flex justify-between items-center mb-4">
      <div class="pagination flex items-center">
        <button
          (click)="currentPage = 1; updatePaginatedClients()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          ⇐
        </button>
        <button
          (click)="currentPage = currentPage - 1; updatePaginatedClients()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          ←
        </button>
        <span class="mx-4 text-gray-700">
          Página {{ currentPage }} de {{ totalPages }}
        </span>
        <button
          (click)="currentPage = currentPage + 1; updatePaginatedClients()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          →
        </button>
        <button
          (click)="currentPage = totalPages; updatePaginatedClients()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          ⇒
        </button>
      </div>
      <div class="items-per-page flex items-center">
        <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
        <select
          id="itemsPerPage"
          [(ngModel)]="itemsPerPage"
          (change)="currentPage = 1; updatePaginatedClients()"
          class="border border-gray-300 rounded-md p-1"
        >
          <option *ngFor="let size of [2, 10, 15, 20]" [value]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>

    <!-- Formulario para añadir/editar clientes -->
    <div *ngIf="showModal" class="modal-overlay">
      <div class="modal-content">
        <h3 class="text-lg font-bold mb-4">
          {{ isEditing ? "Editar Cliente" : "Añadir Cliente" }}
        </h3>
        <form (ngSubmit)="saveClient()">
          <div class="mb-4">
            <label class="block modal-input-item">Nombre</label>
            <input
              [(ngModel)]="selectedClientData.name"
              name="name"
              class="form-input mt-1 block w-full"
              required
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Correo Electrónico</label>
            <input
              type="email"
              [(ngModel)]="selectedClientData.email"
              name="email"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Tipo de Documento</label>
            <select
              [(ngModel)]="selectedClientData.document_type"
              name="order_type"
              class="form-select mt-1 block w-full"
            >
              <option value="NIT">NIT</option>
              <option value="civil registry">Registro civil</option>
              <option value="identity card">Tarjeta de identidad</option>
              <option value="citizenship card">Cédula de ciudadanía</option>
              <option value="alien card">Tarjeta de extranjería</option>
              <option value="foreigner's identity card">
                Cédula de extranjería
              </option>
              <option value="passport">Pasaporte</option>
              <option value="foreign identifiaction document">
                Documento de identificación extranjero
              </option>
              <option value="NIT from another country">NIT de otro país</option>
              <option value="NUIP">NUIP</option>
            </select>
          </div>
          <div class="mb-4">
            <label class="block modal-input-item"
              >Identificación/Documento</label
            >
            <input
              [(ngModel)]="selectedClientData.document_number"
              name="document_number"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Empresa</label>
            <input
              [(ngModel)]="selectedClientData.company_name"
              name="company_name"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Teléfono</label>
            <input
              type="number"
              [(ngModel)]="selectedClientData.cellphone"
              name="cellphone"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Dirección</label>
            <input
              type="text"
              [(ngModel)]="selectedClientData.address"
              name="address"
              class="form-input mt-1 block w-full"
            />
          </div>
          <div class="mb-4">
            <label class="block modal-input-item">Estado</label>
            <select
              [(ngModel)]="selectedClientData.status"
              name="status"
              class="form-select mt-1 block w-full"
            >
              <option value="upToDate">Al Día</option>
              <option value="overdue">En Mora</option>
            </select>
          </div>
          <div class="flex justify-end">
            <button type="button" class="btn-danger" (click)="closeModal()">
              Cancelar
            </button>
            <button type="submit" class="btn-success">
              {{ isEditing ? "Actualizar Cliente" : "Guardar Cliente" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
