<router-outlet></router-outlet>
<div class="login-container flex justify-center items-center">
  <div class="login-box min-w-[280px] max-w-[350px] w-[80%] bg-white/80 backdrop-blur-md rounded-lg shadow-lg p-6">
    <div class="logo text-4xl font-bold text-center text-red-700 mb-8">
      La Casa Del Acrílico
    </div>

    <div class="flex flex-col gap-4" [formGroup]="form">
      <div class="flex flex-col gap-1">
        <div class="font-bold">Correo Electrónico</div>
        <input
          formControlName="email"
          placeholder="Ingresa tu correo"
          class="input-field p-2 w-full rounded-md"
        />
      </div>
      <div class="flex flex-col gap-1">
        <div class="font-bold">Contraseña</div>
        <input
          formControlName="password"
          placeholder="Ingresa tu contraseña"
          type="password"
          class="input-field p-2 w-full rounded-md"
        />
      </div>

      <button
        (click)="login()"
        class="btn-login border-2 border-red-600 text-red-600 hover:text-white hover:bg-red-600 font-semibold p-2 w-full rounded-md transition"
      >
        Ingresar
      </button>

      <button
        (click)="signUp()"
        class="btn-register border-2 border-red-600 text-red-600 hover:text-white hover:bg-red-600 font-semibold p-2 w-full rounded-md transition"
      >
        Registrarse
      </button>
    </div>
  </div>
</div>



