<router-outlet></router-outlet>
<app-main-banner></app-main-banner>

<!-- Indicador de carga -->
<div *ngIf="loading" class="p-4 text-center text-gray-600">
  <p>Cargando empleados...</p>
</div>

<div *ngIf="!loading">
  <div class="flex justify-end items-center mb-4 mt-4 ml-2">
    <!-- Botón Añadir empleado -->
    <button class="btn-add inline-flex items-center space-x-2" (click)="addNewEmployee()">
      <svg
        class="w-5 h-5 inline-block align-middle mt-[3px]"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
          fill="#ffffff"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
          fill="#ffffff"
        />
      </svg>
      <span>Añadir</span>
    </button>
  </div>
  <!-- Input de búsqueda -->
  <div class="flex items-center justify-center py-4 space-x-4 top-5">
    <div class="relative w-full max-w-md">
      <input
        type="text"
        placeholder="Buscar empleado..."
        [(ngModel)]="searchQuery"
        (ngModelChange)="searchEmployee()"
        class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
      />
    </div>
  </div>
  <!-- filtro fecha -->
  <div class="flex items-center space-x-4">
    <div>
      <label for="startDate" class="mr-2 font-semibold">Desde:</label>
      <input
        type="date"
        id="startDate"
        [(ngModel)]="startDate"
        (ngModelChange)="searchEmployee()"
        class="border border-gray-300 rounded-md p-1"
      />
    </div>
    <div>
      <label for="endDate" class="mr-2 font-semibold">Hasta:</label>
      <input
        type="date"
        id="endDate"
        [(ngModel)]="endDate"
        (ngModelChange)="searchEmployee()"
        class="border border-gray-300 rounded-md p-1"
      />
    </div>
  </div>
  <table class="table-std">
    <thead>
      <tr>
        <th class="table-column-std">ID del empleado</th>
        <th class="table-column-std">Nombre</th>
        <th class="table-column-std">Numero de documento</th>
        <th class="table-column-std">Email</th>
        <th class="table-column-std">Telefono</th>
        <th class="table-column-std">Salario</th>
        <th class="table-column-std">Fecha de contratacion</th>
        <th class="table-column-std">Tipo de Empleado</th>
        <th class="table-column-std">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of paginatedEmployees">
        <td>{{ employee.code }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.id_number }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.created_at | date : "dd-MM-yyyy" }}</td>
        <td>
          <select
            class="border rounded p-1"
            [(ngModel)]="employee.employee_type"
            (change)="toggleEmployeeType(employee)"
          >
            <option
              [value]="employee.employee_type"
              disabled
              *ngIf="employee.employee_type === 'admin'"
            >
              Administrador
            </option>
            <!-- Just for testing will remove later -->
            <option
              *ngFor="let role of availableEmployeeRoles"
              [value]="role.value"
              [selected]="employee.employee_type === role.value"
            >
              {{ role.label }}
            </option>
          </select>
        </td>
        <td>
          <button class="btn-details" (click)="openDetailsModal(employee)">
            Detalles
          </button>
          <button class="btn-edit" (click)="editEmployee(employee)">
            Editar
          </button>
          <button class="btn-delete" (click)="deleteEmployee(employee)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Mensaje de no resultados para búsqueda por nombre -->
  <div *ngIf="noResultsFound" class="p-4 text-center text-gray-600">
    <p>No hay coincidencias con la búsqueda.</p>
  </div>

  <div class="flex justify-between items-center mb-4">
    <!-- Controles de paginación -->
    <div class="pagination flex items-center">
      <button
        (click)="currentPage = 1; updatePaginatedEmployees()"
        [disabled]="currentPage === 1"
        class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
      >
        &#8656;
      </button>
      <button
        (click)="currentPage = currentPage - 1; updatePaginatedEmployees()"
        [disabled]="currentPage === 1"
        class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
      >
        &#8592;
      </button>
      <span class="mx-4 text-gray-700"
        >Página {{ currentPage }} de {{ totalPages }}</span
      >
      <button
        (click)="currentPage = currentPage + 1; updatePaginatedEmployees()"
        [disabled]="currentPage === totalPages"
        class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
      >
        &#8594;
      </button>
      <button
        (click)="currentPage = totalPages; updatePaginatedEmployees()"
        [disabled]="currentPage === totalPages"
        class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
      >
        &#8658;
      </button>
    </div>

    <!-- Selector de elementos por página -->
    <div class="items-per-page flex items-center">
      <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
      <select
        id="itemsPerPage"
        [(ngModel)]="itemsPerPage"
        (change)="currentPage = 1; updatePaginatedEmployees()"
        class="border border-gray-300 rounded-md p-1"
      >
        <option *ngFor="let size of [2, 10, 15, 20]" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>

  <!-- Form to add employees -->
  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <h3 class="text-lg font-bold mb-4">
        {{ isEditing ? "Editar Empleado" : "Añadir Nuevo Empleado" }}
      </h3>
      <form (ngSubmit)="saveEmployee()">
        <div class="mb-4">
          <label class="block modal-input-item">Codigo</label>
          <input
            [(ngModel)]="selectedEmployee.code"
            name="code"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item"
            >Nombre Completo<span class="text-red-500">*</span></label
          >
          <input
            [(ngModel)]="selectedEmployee.name"
            name="name"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
          />
        </div>
        <div>
          <label class="block modal-input-item"
            >Tipo de Empleado<span class="text-red-500">*</span></label
          >
          <select
            type="text"
            [(ngModel)]="selectedEmployee.employee_type"
            name="employee_type"
            class="form-input mt-1 block w-full"
            required
          >
            <option
              *ngFor="let employee_type of availableEmployeeRoles"
              [value]="employee_type.value"
              [selected]="
                selectedEmployee.employee_type === employee_type.value
              "
            >
              {{ employee_type.label }}
            </option>
          </select>
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Numero de identidad</label>
          <input
            [(ngModel)]="selectedEmployee.id_number"
            name="id_number"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Correo Electrónico</label>
          <input
            type="email"
            [(ngModel)]="selectedEmployee.email"
            name="email"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Numero de Telefono</label>
          <input
            [(ngModel)]="selectedEmployee.phone"
            name="phone"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Direccion</label>
          <input
            [(ngModel)]="selectedEmployee.address"
            name="address"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Barrio</label>
          <input
            [(ngModel)]="selectedEmployee.neighborhood"
            name="neighborhood"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Ciudad</label>
          <input
            [(ngModel)]="selectedEmployee.city"
            name="city"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Departamento</label>
          <input
            [(ngModel)]="selectedEmployee.department"
            name="department"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Codigo Postal</label>
          <input
            [(ngModel)]="selectedEmployee.postal_code"
            name="postal_code"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block modal-input-item">Salario</label>
          <input
            [(ngModel)]="selectedEmployee.salary"
            name="salary"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md"
            required
          />
        </div>
        <div class="flex justify-end items-center">
          <div>
            <button type="button" class="btn-danger" (click)="closeModal()">
              Cancelar
            </button>
          </div>
          <div>
            <button type="submit" class="btn-success">
              {{ isEditing ? "Actualizar" : "Guardar Empleado" }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal para detalles del empleado -->
  <div
    *ngIf="showDetailsModal && selectedEmployeeDetails"
    class="modal-overlay"
  >
    <div class="modal-content modal-h300" [class.expanded]="modalExpanded">
      <h3 class="text-lg font-bold mb-4">
        <p><strong>Cliente:</strong> {{ selectedEmployeeDetails.name }}</p>
        <p>
          <strong>Numero de Identificación:</strong
          >{{ selectedEmployeeDetails.id_number }}
        </p>
        <p><strong>Email:</strong> {{ selectedEmployeeDetails.email }}</p>
        <p><strong>Telefono:</strong> {{ selectedEmployeeDetails.phone }}</p>
      </h3>
      <div class="flex space-x-4 mb-4">
      <button
        (click)="toggleLiquidations(selectedEmployeeDetails)"
        class="btn-liquidation"
      >
        Mostrar Liquidaciones
      </button>
      <button
        (click)="toggleBenefits(selectedEmployeeDetails)"
        class="btn-liquidation"
      >
        Mostrar Prestaciones
      </button>
      <button
        class="btn-details"
        (click)="toggleDetails()"
      >
        {{ showDetails ? "Ocultar Detalles" : "Mostrar Detalles" }}
      </button>
    </div>

      <!-- Detalles del Empleado -->
      <div *ngIf="showDetails" class="details">
        <p>
          <strong>Tipo de Empleado:</strong>
          {{ getEmployeeTypeLabel(selectedEmployeeDetails.employee_type) }}
        </p>
        <p><strong>Salario:</strong> {{ selectedEmployeeDetails.salary }}</p>
        <p>
          <strong> Direccion: </strong> {{ selectedEmployeeDetails.address }}
        </p>
        <p>
          <strong>Barrio:</strong> {{ selectedEmployeeDetails.neighborhood }}
        </p>
        <p><strong>Ciudad:</strong> {{ selectedEmployeeDetails.city }}</p>
        <p>
          <strong>Departamento:</strong>
          {{ selectedEmployeeDetails.department }}
        </p>
        <p>
          <strong>Codigo Postal:</strong>
          {{ selectedEmployeeDetails.postal_code }}
        </p>
      </div>

      <!-- Botón para cerrar el modal -->
      <div class="flex justify-start mt-4">
        <button class="btn-danger" (click)="closeDetailsModal()">Cerrar</button>
      </div>
    </div>
  </div>
  <!--Liquidations-->
  <div *ngIf="showLiquidations" class="modal-overlay top">
    <div class="modal-content modal-h400 modal-w720">
      <h3 class="text-lg font-bold mb-4">
        Liquidaciones del Empleado: {{ selectedEmployeeDetails?.name }}
      </h3>
      <table class="w-full border-collapse">
        <thead>
          <tr class="bg-gray-100">
            <th class="modal-table-column">#</th>
            <th class="modal-table-column">Detalles</th>
            <th class="modal-table-column">Total</th>
            <th class="modal-table-column">Fecha de Liquidacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let liquidations of paginatedLiquidations">
            <td class="modal-table-column">{{ liquidations.code }}</td>
            <td class="modal-table-column">{{ liquidations.notes }}</td>
            <td class="modal-table-column">{{ liquidations.total_amount }}</td>
            <td class="modal-table-column">
              {{ liquidations.liquidation_date }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-between items-center mb-4">
        <div class="pagination flex items-center">
          <button
            (click)="
              currentLiquidationPage = currentLiquidationPage - 1;
              updatePaginatedLiquidations()
            "
            [disabled]="currentLiquidationPage === 1"
            class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
          >
            ←
          </button>
          <span class="mx-4 text-gray-700">
            Página {{ currentLiquidationPage }} de {{ totalLiquidationPages }}
          </span>
          <button
            (click)="
              currentLiquidationPage = currentLiquidationPage + 1;
              updatePaginatedLiquidations()
            "
            [disabled]="currentLiquidationPage === totalLiquidationPages"
            class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
          >
            →
          </button>
        </div>
        <div class="items-per-page flex items-center">
          <label for="itemsPerLiquidationPage" class="mr-2">
            Elementos por página:
          </label>
          <select
            id="itemsPerLiquidationPage"
            [(ngModel)]="itemsPerLiquidationPage"
            (change)="updatePaginatedLiquidations()"
            class="border border-gray-300 rounded-md p-1"
          >
            <option *ngFor="let size of [10, 15, 25, 50]" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button
          class="btn-danger"
          (click)="toggleLiquidations(null)"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
  <!--Benefits-->
  <div *ngIf="showBenefits" class="modal-overlay top">
    <div class="modal-content top modal-h400 modal-w720">
      <h3 class="text-lg font-bold mb-4">
        Prestaciones del Empleado: {{ selectedEmployeeDetails?.name }}
      </h3>
      <table class="modal-table">
        <thead>
          <tr>
            <th class="modal-table-column">#</th>
            <th class="modal-table-column">Tipo</th>
            <th class="modal-table-column">Periodo</th>
            <th class="modal-table-column">Total</th>
            <th class="modal-table-column">Estado de Pago</th>
            <th class="modal-table-column">Fecha de pago</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let benefits of paginatedBenefits">
            <td class="modal-table-column">{{ benefits.code }}</td>
            <td class="modal-table-column">{{ benefits.benefit_type }}</td>
            <td class="modal-table-column">{{ benefits.period }}</td>
            <td class="modal-table-column">{{ benefits.amount }}</td>
            <td class="modal-table-column">{{ benefits.status }}</td>
            <td class="modal-table-column">{{ benefits.payment_date }}</td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-between items-center mb-4">
        <div class="pagination flex items-center">
          <button
            (click)="
              currentBenefitPage = currentBenefitPage - 1;
              updatePaginatedBenefits()
            "
            [disabled]="currentBenefitPage === 1"
            class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
          >
            ←
          </button>
          <span class="mx-4 text-gray-700">
            Página {{ currentBenefitPage }} de {{ totalBenefitPages }}
          </span>
          <button
            (click)="
              currentBenefitPage = currentBenefitPage + 1;
              updatePaginatedBenefits()
            "
            [disabled]="currentBenefitPage === totalBenefitPages"
            class="px-2 py-1 text-black border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
          >
            →
          </button>
        </div>
        <div class="items-per-page flex items-center">
          <label for="itemsPerBenefitPage" class="mr-2">
            Elementos por página:
          </label>
          <select
            id="itemsPerBenefitPage"
            [(ngModel)]="itemsPerBenefitPage"
            (change)="updatePaginatedBenefits()"
            class="border border-gray-300 rounded-md p-1"
          >
            <option *ngFor="let size of [10, 15, 25, 50]" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button
          class="btn-danger"
          (click)="toggleBenefits(null)"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
