- name: Post-config LCDA on Azure WebApp
  hosts: local
  collections:
    - azure.azcollection
  tasks:
    - name: Login to Azure
      azure.azcollection.azure_rm_profile:
        client_id: "{{ azure_client_id }}"
        secret: "{{ azure_client_secret }}"
        subscription_id: "{{ azure_subscription_id }}"
        tenant: "{{ azure_tenant }}"

    - name: Set App Settings
      azure.azcollection.azure_rm_webapp:
        resource_group: "{{ resource_group }}"
        name: "{{ webapp_name }}"
        app_settings: "{{ app_settings }}"
        https_only: true

    - name: Warm up app
      uri:
        url: "https://{{ webapp_name }}.azurewebsites.net/"
        method: GET
        status_code: 200
