<router-outlet></router-outlet>
<app-main-banner></app-main-banner>

<!-- Indicador de carga -->
<div *ngIf="loading" class="p-4 text-center text-gray-600">
  <p>Cargando pedidos...</p>
</div>

<!-- Filters -->
<div
  *ngIf="userRole == 'admin'"
  class="flex justify-between items-center mb-4 mt-4 ml-2"
>
  <div class="flex space-x-2">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="showPrints"
        (change)="updateFilteredOrders()"
      />
      Impresiones
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="showCuts"
        (change)="updateFilteredOrders()"
      />
      Cortes
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="showSales"
        (change)="updateFilteredOrders()"
      />
      Ventas
    </label>
  </div>
  <div class="flex space-x-2">
    <button
      class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 mr-4"
      (click)="toggleAddOrderForm()"
    >
      Añadir
    </button>
    <button
      class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 mr-4"
      (click)="openCalculator()"
    >
      Calculadora
    </button>
  </div>
</div>

<!-- Search bars -->
<div class="flex items-center justify-center py-4 space-x-4 top-5">
  <!-- Buscar por nombre de cliente -->
  <div class="relative w-full max-w-md">
    <input
      type="text"
      placeholder="Buscar por nombre de cliente..."
      [(ngModel)]="searchByNameQuery"
      class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
      (input)="updateFilteredOrders()"
    />
  </div>
  <!-- Buscar por número de pedido -->
  <div class="relative w-full max-w-md">
    <input
      type="text"
      placeholder="Buscar pedido por número..."
      [(ngModel)]="searchQuery"
      class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
    />
    <button
      class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-700 w-auto"
      (click)="onSearch()"
    >
      Buscar
    </button>
  </div>
</div>
<div class="flex items-center space-x-4">
  <div>
    <label for="startDate" class="mr-2 font-semibold">Desde:</label>
    <input
      type="date"
      id="startDate"
      [(ngModel)]="startDate"
      (ngModelChange)="updateFilteredOrders()"
      class="border border-gray-300 rounded-md p-1"
    />
  </div>
  <div>
    <label for="endDate" class="mr-2 font-semibold">Hasta:</label>
    <input
      type="date"
      id="endDate"
      [(ngModel)]="endDate"
      (ngModelChange)="updateFilteredOrders()"
      class="border border-gray-300 rounded-md p-1"
    />
  </div>
</div>
<!-- Orders Table -->
<div *ngIf="!loading" class="mt-4">
  <table class="table-std">
    <ng-template
      [ngIf]="userRole === 'admin'"
      [ngIfThen]="Admin"
      [ngIfElse]="notAdmin"
    ></ng-template>
    <thead>
      <ng-template #Admin>
        <tr>
          <th class="table-column-std">Código</th>
          <th class="table-column-std">Tipo</th>
          <th class="table-column-std">Cliente</th>
          <th class="table-column-std">Tipo de cliente</th>
          <th class="table-column-std">Estado de pago</th>
          <th class="table-column-std">Estado de trabajo</th>
          <th class="table-column-std">Fecha</th>
          <th class="table-column-std">Fecha de Entrega</th>
          <!-- New column -->
          <th class="table-column-std">Días Restantes</th>
          <!-- New column -->
          <th class="table-column-std">Total</th>
          <th class="table-column-std">Confirmación</th>
          <th class="table-column-std">Acción</th>
        </tr>
        <tbody>
          <tr *ngFor="let order of paginatedOrders">
            <td>{{ order.code }}</td>
            <td>
              {{
                order.order_type === "print"
                  ? "Impresiones"
                  : order.order_type === "laser"
                  ? "Cortes"
                  : order.order_type === "sales"
                  ? "Ventas"
                  : "Desconocido"
              }}
            </td>
            <td>{{ order.name }}</td>
            <td>
              {{
                order.client_type === "finall"
                  ? "Final"
                  : order.client_type === "intermediary"
                  ? "Intermediario"
                  : "Desconocido"
              }}
            </td>
            <td
              [ngClass]="{
                'text-green-600': order.order_payment_status === 'upToDate',
                'text-red-600': order.order_payment_status === 'overdue'
              }"
            >
              {{
                order.order_payment_status === "upToDate"
                  ? "Al Día"
                  : order.order_payment_status === "overdue"
                  ? "En Mora"
                  : "Desconocido"
              }}
            </td>
            <td
              [ngClass]="{
                'text-green-600': order.order_completion_status === 'finished',
                'text-red-600': order.order_completion_status === 'standby',
                'text-orange-400':
                  order.order_completion_status === 'inProgress'
              }"
            >
              <select
                class="border rounded p-1"
                [(ngModel)]="order.order_completion_status"
                (change)="toggleOrderCompletionStatus(order)"
              >
                <option value="finished">Terminado</option>
                <option value="standby">En espera</option>
                <option value="inProgress">En progreso</option>
              </select>
            </td>
            <td>{{ order.created_at | date : "dd-MM-yyyy" }}</td>
            <td>
              {{
                order.delivery_date
                  ? (order.delivery_date | date : "dd-MM-yyyy")
                  : "No especificado"
              }}
            </td>
            <!-- Display delivery date -->
            <td [ngClass]="{
              'text-green-600':order.order_completion_status === 'finished',
              'text-blue-600': order.order_completion_status !== 'finished' && getRemainingDeliveryDays(order) > 0,
              'text-red-600': order.order_completion_status !== 'finished' && getRemainingDeliveryDays(order) <= 0
            }">
              {{
                order.order_completion_status === 'finished'
                  ? 'Completo'
                  : getRemainingDeliveryDays(order) > 0
                    ? getRemainingDeliveryDays(order) + ' días'
                    : 'Vencido'
              }}
            </td>
            <!-- Display remaining days -->
            <td [class.invisible]="userRole != 'admin'">
              {{ order.total }}
            </td>
            <td
              [ngClass]="{
                'text-green-600': order.order_confirmed_status === 'confirmed',
                'text-orange-400':
                  order.order_confirmed_status === 'notConfirmed'
              }"
            >
              {{
                order.order_confirmed_status === "confirmed"
                  ? "Confirmado"
                  : order.order_confirmed_status === "notConfirmed"
                  ? "En espera"
                  : "Desconocido"
              }}
            </td>
            <td>
              <button class="btn-details" (click)="selectOrder(order)">
                Detalles
              </button>
              <button class="btn-edit" (click)="editOrder(order)">
                Editar
              </button>
              <button
                *ngIf="userRole == 'admin'"
                class="btn-delete"
                (click)="deleteOrder(order)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </ng-template>
      <ng-template #notAdmin>
        <th class="table-column-std">Código</th>
        <th class="table-column-std">Tipo</th>
        <th class="table-column-std">Cliente</th>
        <th class="table-column-std">Estado de pago</th>
        <th class="table-column-std">Estado de trabajo</th>
        <th class="table-column-std">Fecha</th>
        <th class="table-column-std">Fecha de Entrega</th>
        <!-- New column -->
        <th class="table-column-std">Días Restantes</th>
        <!-- New column -->
        <th class="table-column-std">Acción</th>
        <th class="table-column-std">Confirmación de Orden</th>
        <tbody>
          <tr *ngFor="let order of paginatedOrders">
            <td>{{ order.code }}</td>
            <td>
              {{
                order.order_type === "print"
                  ? "Impresiones"
                  : order.order_type === "laser"
                  ? "Cortes"
                  : order.order_type === "sales"
                  ? "Ventas"
                  : "Desconocido"
              }}
            </td>
            <td>{{ order.name }}</td>
            <td
              [ngClass]="{
                'text-green-600': order.order_payment_status === 'upToDate',
                'text-red-600': order.order_payment_status === 'overdue'
              }"
            >
              {{
                order.order_payment_status === "upToDate"
                  ? "Al Día"
                  : order.order_payment_status === "overdue"
                  ? "En Mora"
                  : "Desconocido"
              }}
            </td>
            <td
              [ngClass]="{
                'text-green-600': order.order_completion_status === 'finished',
                'text-red-600': order.order_completion_status === 'standby',
                'text-orange-400':
                  order.order_completion_status === 'inProgress'
              }"
            >
              <select
                class="border rounded p-1"
                [(ngModel)]="order.order_completion_status"
                (change)="toggleOrderCompletionStatus(order)"
              >
                <option value="finished">Terminado</option>
                <option value="standby">En espera</option>
                <option value="inProgress">En progreso</option>
              </select>
            </td>
            <td>{{ order.created_at | date : "dd-MM-yyyy" }}</td>
            <td>
              {{
                order.delivery_date
                  ? (order.delivery_date | date : "dd-MM-yyyy")
                  : "No especificado"
              }}
            </td>
            <!-- Display delivery date -->
            <td [ngClass]="{
              'text-green-600':order.order_completion_status === 'finished',
              'text-blue-600': order.order_completion_status !== 'finished' && getRemainingDeliveryDays(order) > 0,
              'text-red-600': order.order_completion_status !== 'finished' && getRemainingDeliveryDays(order) <= 0
            }">
              {{
                order.order_completion_status === 'finished'
                  ? 'Completo'
                  : getRemainingDeliveryDays(order) > 0
                    ? getRemainingDeliveryDays(order) + ' días'
                    : 'Vencido'
              }}
            </td>
            <!-- Display remaining days -->
            <td>
              <button class="btn-details" (click)="selectOrder(order)">
                Detalles
              </button>
              <button class="btn-edit" (click)="editOrder(order)">
                Editar
              </button>
              <button
                *ngIf="userRole == 'admin'"
                class="btn-delete"
                (click)="deleteOrder(order)"
              >
                Eliminar
              </button>
            </td>
            <td>
              <label>
                <input
                  type="checkbox"
                  [checked]="order.order_confirmed_status === 'confirmed'"
                  (change)="toggleOrderConfirmedStatus(order)"
                />
              </label>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </thead>
  </table>
</div>

<!-- Mensaje de no resultados para búsqueda por nombre -->
<div *ngIf="noResultsFound" class="p-4 text-center text-gray-600">
  <p>No hay coincidencias con la búsqueda.</p>
</div>

<div class="flex justify-between items-center mb-4">
  <!-- Controles de paginación -->
  <div class="pagination flex items-center">
    <button
      (click)="currentPage = 1; updatePaginatedOrder()"
      [disabled]="currentPage === 1"
      class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
    >
      ⇐
    </button>
    <button
      (click)="currentPage = currentPage - 1; updatePaginatedOrder()"
      [disabled]="currentPage === 1"
      class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
    >
      ←
    </button>
    <span class="mx-4 text-gray-700">
      Página {{ currentPage }} de {{ totalPages }}
    </span>
    <button
      (click)="currentPage = currentPage + 1; updatePaginatedOrder()"
      [disabled]="currentPage === totalPages"
      class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
    >
      →
    </button>
    <button
      (click)="currentPage = totalPages; updatePaginatedOrder()"
      [disabled]="currentPage === totalPages"
      class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
    >
      ⇒
    </button>
  </div>

  <!-- Selector de elementos por página -->
  <div class="items-per-page flex items-center">
    <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
    <select
      id="itemsPerPage"
      [(ngModel)]="itemsPerPage"
      (change)="currentPage = 1; updatePaginatedOrder()"
      class="border border-gray-300 rounded-md p-1"
    >
      <option *ngFor="let size of [2, 10, 15, 20]" [value]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>

<!-- Show details of the selected order -->
<div
  *ngIf="
    selectedOrderDetails && selectedOrderDetails.length > 0 && !loadingDetails
  "
  class="modal-overlay"
>
  <div class="modal-content">
    <h2 class="text-xl font-bold">Detalles de Pedido</h2>
    <!-- Printable Invoice Layout -->
    <div class="p-4 border border-gray-300 bg-white invoice-details">
      <div class="flex justify-between mb-4">
        <div>
          <h3 class="font-semibold text-lg">
            Pedido N°: {{ selectedOrderDetails[0].code }}
          </h3>
          <p>
            <strong>Fecha:</strong>
            {{ selectedOrderDetails[0].created_at | date : "dd-MM-yyyy" }}
          </p>
          <p>
            <strong>Fecha de Entrega:</strong>
            {{
              selectedOrderDetails[0].delivery_date
                ? (selectedOrderDetails[0].delivery_date | date : "dd-MM-yyyy")
                : "No especificado"
            }}
          </p>
          <p>
            <strong>Estado de trabajo:</strong>
            {{
              selectedOrderDetails[0].order_completion_status === "finished"
                ? "Completado"
                : selectedOrderDetails[0].order_completion_status === "standby"
                ? "En espera"
                : selectedOrderDetails[0].order_completion_status ===
                  "inProgress"
                ? "En progreso"
                : "Desconocido"
            }}
          </p>
          <p>
            <strong>Confirmación del pedido:</strong>
            {{
              selectedOrderDetails[0].order_confirmed_status === "confirmed"
                ? "Confirmado"
                : selectedOrderDetails[0].order_confirmed_status ===
                  "notConfirmed"
                ? "Por Confirmar"
                : "Desconocido"
            }}
          </p>
          <p>
            <strong>Estado de entrega:</strong>
            {{
              selectedOrderDetails[0].order_delivery_status === "onTime"
                ? "A tiempo"
                : selectedOrderDetails[0].order_delivery_status === "late"
                ? "Tarde"
                : selectedOrderDetails[0].order_delivery_status ===
                  "toBeDelivered"
                ? "En espera"
                : "No especificado"
            }}
          </p>
          <p>
            <strong>Estado de pago:</strong>
            {{
              selectedOrderDetails[0].order_payment_status === "overdue"
                ? "En Mora"
                : selectedOrderDetails[0].order_payment_status === "upToDate"
                ? "Al Día"
                : "No especificado"
            }}
          </p>
          <p>
            <strong>Tipo:</strong>
            {{
              selectedOrderDetails[0].order_type === "laser"
                ? "Corte Laser"
                : selectedOrderDetails[0].order_type === "print"
                ? "Impresión"
                : selectedOrderDetails[0].order_type === "sales"
                ? "Ventas"
                : "Otro"
            }}
          </p>
        </div>
        <div class="text-right">
          <p>
            <strong>De:</strong>
            {{ selectedOrderDetails[0].name }}
          </p>
        </div>
      </div>

      <!-- Itemized Invoice List -->
      <div class="my-6">
        <ul class="list-none">
          <li>
            <p>
              <strong>Descripción:</strong>
              {{ selectedOrderDetails[0].description }}
            </p>
            <p><strong>Notas:</strong> {{ selectedOrderDetails[0].notes }}</p>
            <p>
              <strong>Cantidad:</strong>
              {{ selectedOrderDetails[0].order_quantity }}
            </p>
            <p>
              <strong>Valor Unitario:</strong>
              {{ selectedOrderDetails[0].unitary_value }}
            </p>
            <p *ngIf="selectedOrderDetails[0].iva">
              <strong>IVA:</strong> {{ selectedOrderDetails[0].iva }}
            </p>
          </li>
        </ul>
      </div>
      <!-- Specific details for cuts -->
      <div *ngIf="selectedOrderDetails[0].order_type === 'laser'" class="my-6">
        <ul class="list-none">
          <li>
            <p>
              <strong>Tipo de Material:</strong>
              {{ selectedOrderTypeDetail[0].material_type }}
            </p>
            <p>
              <strong>Calibre:</strong> {{ selectedOrderTypeDetail[0].caliber }}
            </p>
            <p>
              <strong>Color:</strong> {{ selectedOrderTypeDetail[0].color }}
            </p>
            <p>
              <strong>Cantidad Usada:</strong>
              {{ selectedOrderTypeDetail[0].quantity }}
            </p>
            <p>
              <strong>Dimensiones:</strong>
              {{ selectedOrderTypeDetail[0].height }} X
              {{ selectedOrderTypeDetail[0].width }}
            </p>
            <p>
              <strong>Tiempo de corte:</strong>
              {{ selectedOrderTypeDetail[0].cutting_time }} mins
            </p>
          </li>
        </ul>
      </div>
      <!-- Specific details for prints -->
      <div *ngIf="selectedOrderDetails[0].order_type === 'print'" class="my-6">
        <ul class="list-none">
          <li>
            <p>
              <strong>Material:</strong>
              {{ selectedOrderTypeDetail[0].material }}
            </p>
            <p>
              <strong>Tipo de Material:</strong>
              {{ selectedOrderTypeDetail[0].material_type }}
            </p>
            <p>
              <strong>P. Laminado:</strong>
              {{ selectedOrderTypeDetail[0].laminating ? "Si" : "-" }}
              <strong>P. Impresión:</strong>
              {{ selectedOrderTypeDetail[0].printing ? "Si" : "-" }}
              <strong>P. Troquelado:</strong>
              {{ selectedOrderTypeDetail[0].die_cutting ? "Si" : "-" }}
              <strong>P. Armado:</strong>
              {{ selectedOrderTypeDetail[0].assembly ? "Si" : "-" }}
            </p>
            <p>
              <strong>Número de producto:</strong>
              {{ selectedOrderTypeDetail[0].product_number }}
            </p>
            <p>
              <strong>Cantidad Usada:</strong>
              {{ selectedOrderTypeDetail[0].quantity }}
            </p>
            <p>
              <strong>Producto Dañado:</strong>
              {{ selectedOrderTypeDetail[0].damaged_material }}
            </p>
          </li>
        </ul>
      </div>
      <!-- Totals Section -->
      <div class="border-t pt-4 mt-4">
        <div class="flex justify-between">
          <p><strong>Subtotal:</strong></p>
          <p>{{ selectedOrderDetails[0].subtotal }}</p>
        </div>
        <div class="flex justify-between">
          <p *ngIf="selectedOrderDetails[0].iva"><strong>IVA:</strong></p>
          <p>{{ selectedOrderDetails[0].iva }}</p>
        </div>
        <div class="flex justify-between">
          <p><strong>Total:</strong></p>
          <p class="font-bold">{{ selectedOrderDetails[0].total }}</p>
        </div>
      </div>
      <button
        type="button"
        class="btn-danger mr-2"
        (click)="selectedOrderDetails = null"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>

<!-- Form to add orders -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <h3 class="text-lg font-bold mb-4">Pedido</h3>

    <form (ngSubmit)="addOrder(newOrder)">
      <!-- Campos comunes -->
      <div class="mb-4">
        <label class="block modal-input-item">Tipo de Pedido</label>
        <select
          [(ngModel)]="newOrder.order_type"
          name="order_type"
          class="form-select mt-1 block w-full"
          required
        >
          <option value="print">Impresiones</option>
          <option value="laser">Cortes</option>
          <option value="sales">Ventas</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block modal-input-item">Cliente</label>
        <select
          [(ngModel)]="newOrder.id_client"
          name="id_client"
          class="form-select mt-1 block w-full"
          required
        >
          <option value="" disabled selected>Seleccione un cliente</option>
          <option *ngFor="let client of clients" [value]="client.id_client">
            {{ client.name }}
          </option>
        </select>
        <button
          *ngIf="!isEditing"
          type="button"
          class="btn-primary mt-2"
          (click)="openAddClientModal()"
        >
          Añadir nuevo cliente
        </button>
      </div>
      <div class="mb-4">
        <label class="block modal-input-item">Tipo de Cliente</label>
        <select
          [(ngModel)]="newOrder.client_type"
          name="clie_type"
          class="form-select mt-1 block w-full"
          required
        >
          <option value="intermediary">Intermediario</option>
          <option value="finall">Final</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block modal-input-item">Descripción</label>
        <textarea
          [(ngModel)]="newOrder.description"
          name="description"
          class="form-textarea mt-1 block w-full"
        ></textarea>
      </div>
      <div class="mb-4">
        <label class="block modal-input-item">Cantidad</label>
        <input
          type="number"
          [(ngModel)]="newOrder.order_quantity"
          name="order_quantity"
          class="form-input mt-1 block w-full"
        />
      </div>
      <div class="mb-4">
        <label class="block modal-input-item">Notas</label>
        <input
          [(ngModel)]="newOrder.notes"
          name="notes"
          class="form-input mt-1 block w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block modal-input-item">Fecha de Entrega</label>
        <input
          type="date"
          [(ngModel)]="newOrder.delivery_date"
          name="delivery_date"
          class="form-input mt-1 block w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block modal-input-item">Total</label>
        <input
          type="number"
          [(ngModel)]="newOrder.total"
          name="total"
          class="form-input mt-1 block w-full"
          required
        />
      </div>

      <!-- Campos específicos para Impresiones -->
      <div
        *ngIf="newOrder.order_type === 'print' && userRole != 'admin'"
        class="mb-4 border-t pt-4"
      >
        <h4 class="font-semibold text-red-600">Datos de Impresión</h4>
        <label class="block mt-2 modal-input-item">Material</label>
        <input
          [(ngModel)]="newPrint.material"
          name="material"
          class="form-input mt-1 block w-full"
        />

        <label class="block mt-2 modal-input-item">Tipo de Material</label>
        <input
          [(ngModel)]="newPrint.material_type"
          name="material_type"
          class="form-input mt-1 block w-full"
        />

        <label class="block mt-2 modal-input-item">Número de producto</label>
        <input
          [(ngModel)]="newPrint.product_number"
          name="product_number"
          class="form-input mt-1 block w-full"
        />

        <label class="block modal-input-item">Ancho del rollo (m)</label>
        <input
          type="number"
          [(ngModel)]="rollWidth"
          name="rollWidth"
          class="form-input mt-1 block w-full"
          (change)="calculatePrice()"
        />

        <label class="block modal-input-item">Medición (m)</label>
        <input
          type="number"
          [(ngModel)]="measurement"
          name="measurement"
          class="form-input mt-1 block w-full"
          (change)="calculatePrice()"
        />

        <label class="block mt-2 modal-input-item">Material dañado</label>
        <input
          [(ngModel)]="newPrint.damaged_material"
          name="damaged_material"
          class="form-input mt-1 block w-full"
        />

        <!-- Checkboxes -->
        <div class="flex gap-4 mt-2">
          <label
            ><input
              type="checkbox"
              [(ngModel)]="newPrint.laminating"
              name="laminating"
            />
            Laminado</label
          >
          <label
            ><input
              type="checkbox"
              [(ngModel)]="newPrint.die_cutting"
              name="die_cutting"
            />
            Troquelado</label
          >
          <label
            ><input
              type="checkbox"
              [(ngModel)]="newPrint.assembly"
              name="assembly"
            />
            Ensamblado</label
          >
          <label
            ><input
              type="checkbox"
              [(ngModel)]="newPrint.printing"
              name="printing"
            />
            Impresión</label
          >
        </div>
      </div>

      <!-- Campos específicos para Cortes -->
      <div
        *ngIf="newOrder.order_type === 'laser' && userRole != 'admin'"
        class="mb-4 border-t pt-4"
      >
        <h4 class="font-semibold text-red-600">Datos de Corte</h4>
        <label class="block mt-2 modal-input-item">Tipo de Material</label>
        <input
          [(ngModel)]="newCut.material_type"
          name="material_type"
          class="form-input mt-1 block w-full"
        />

        <label class="block mt-2 modal-input-item">Color</label>
        <input
          [(ngModel)]="newCut.color"
          name="color"
          class="form-input mt-1 block w-full"
        />

        <label class="block mt-2 modal-input-item">Calibre</label>
        <input
          [(ngModel)]="newCut.caliber"
          name="caliber"
          class="form-input mt-1 block w-full"
        />

        <label class="block mt-2 modal-input-item">Alto</label>
        <input
          [(ngModel)]="newCut.height"
          name="height"
          class="form-input mt-1 block w-full"
        />

        <label class="block mt-2 modal-input-item">Ancho</label>
        <input
          [(ngModel)]="newCut.width"
          name="width"
          class="form-input mt-1 block w-full"
        />
        <label class="block mt-2 modal-input-item">Cantidad</label>
        <input
          [(ngModel)]="newCut.quantity"
          name="quantity"
          class="form-input mt-1 block w-full"
        />
        <label class="block mt-2 modal-input-item">Tiempo de corte</label>
        <input
          [(ngModel)]="newCut.cutting_time"
          name="cutting_time"
          class="form-input mt-1 block w-full"
        />
      </div>

      <div class="flex justify-end mt-4">
        <button type="button" class="btn-danger" (click)="toggleAddOrderForm()">
          Cancelar
        </button>
        <button type="submit" class="btn-success ml-2">Guardar Pedido</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal para añadir cliente -->
<div *ngIf="showAddClientModal" class="modal-overlay">
  <div class="modal-content w-1/2">
    <h2 class="text-xl font-bold mb-4">Añadir Nuevo Cliente</h2>
    <form (ngSubmit)="saveNewClient()">
      <div class="mb-4">
        <label class="block text-gray-700">Nombre</label>
        <input
          [(ngModel)]="newClient.name"
          name="name"
          class="form-input"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Correo Electrónico</label>
        <input
          type="email"
          [(ngModel)]="newClient.email"
          name="email"
          class="form-input"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Tipo de Documento</label>
        <select
          [(ngModel)]="newClient.document_type"
          name="document_type"
          class="form-select"
        >
          <option value="NIT">NIT</option>
          <option value="civil registry">Registro civil</option>
          <option value="identity card">Tarjeta de identidad</option>
          <option value="citizenship card">Cédula de ciudadanía</option>
          <option value="alien card">Tarjeta de extranjería</option>
          <option value="foreigner's identity card">
            Cédula de extranjería
          </option>
          <option value="passport">Pasaporte</option>
          <option value="foreign identification document">
            Documento de identificación extranjero
          </option>
          <option value="NIT from another country">NIT de otro país</option>
          <option value="NUIP">NUIP</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Identificación/Documento</label>
        <input
          [(ngModel)]="newClient.document_number"
          name="document_number"
          class="form-input"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Empresa</label>
        <input
          [(ngModel)]="newClient.company_name"
          name="company_name"
          class="form-input"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Teléfono</label>
        <input
          type="number"
          [(ngModel)]="newClient.cellphone"
          name="cellphone"
          class="form-input"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Dirección</label>
        <input
          type="text"
          [(ngModel)]="newClient.address"
          name="address"
          class="form-input"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Estado</label>
        <select
          [(ngModel)]="newClient.status"
          name="status"
          class="form-select mt-1 block w-full"
        >
          <option value="upToDate">Al Día</option>
          <option value="overdue">En Mora</option>
        </select>
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          class="btn-danger"
          (click)="closeAddClientModal()"
        >
          Cancelar
        </button>
        <button type="submit" class="btn-success px-4 py-2 rounded-md">
          Guardar Cliente
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal Calculadora -->
<div
  *ngIf="showCalculator"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50"
>
  <div
    class="bg-white w-[500px] max-w-[90vw] rounded-lg shadow-lg p-6 max-h-[90vh] overflow-y-auto"
  >
    <h3 class="text-lg font-bold mb-4">Calculadora</h3>

    <!-- calculator type -->
    <div class="mb-4">
      <label class="block text-gray-700">¿Qué desea calcular?</label>
      <select
        [(ngModel)]="calculationType"
        (change)="resetForm()"
        class="form-select mt-1 block w-full"
      >
        <option [ngValue]="null">Seleccione una opción</option>
        <option value="prints">Impresiones</option>
        <option value="cuts">Cortes</option>
        <option value="sales">Ventas</option>
      </select>
    </div>

    <!-- Tipo de cliente -->
    <div class="mb-4" *ngIf="calculationType">
      <label class="block text-gray-700">Tipo de Cliente</label>
      <select
        [(ngModel)]="clientType"
        (change)="setValoresPorCliente()"
        class="form-select mt-1 block w-full"
      >
        <option [ngValue]="null">Seleccione un tipo</option>
        <option value="intermediary">Intermediario</option>
        <option value="final">Final</option>
      </select>
    </div>

    <!-- Calculadora de impresiones -->
    <div *ngIf="calculationType === 'prints'">
      <div class="mb-4">
        <label class="block text-gray-700">Ancho del rollo (m)</label>
        <input
          type="number"
          [(ngModel)]="rollWidth"
          name="rollWidth"
          class="form-input mt-1 block w-full"
          (change)="calculatePrice()"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Medición (m)</label>
        <input
          type="number"
          [(ngModel)]="measurement"
          name="measurement"
          class="form-input mt-1 block w-full"
          (change)="calculatePrice()"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Número de productos</label>
        <input
          type="number"
          [(ngModel)]="productNumber"
          name="productNumber"
          class="form-input mt-1 block w-full"
          (change)="calculatePrice()"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Opciones</label>
        <div class="flex gap-4 mt-2">
          <label
            ><input
              type="checkbox"
              [(ngModel)]="lamination"
              name="lamination"
              (change)="calculatePrice()"
            />
            Laminado</label
          >
          <label
            ><input
              type="checkbox"
              [(ngModel)]="pPrint"
              name="pPrint"
              (change)="calculatePrice()"
            />
            Impresión</label
          >
          <label
            ><input
              type="checkbox"
              [(ngModel)]="stamping"
              name="stamping"
              (change)="calculatePrice()"
            />
            Troquelado</label
          >
          <label
            ><input
              type="checkbox"
              [(ngModel)]="assemble"
              name="assemble"
              (change)="calculatePrice()"
            />
            Ensamblado</label
          >
        </div>
      </div>
    </div>

    <!-- Calculadora de cortes -->
    <div *ngIf="calculationType === 'cuts'">
      <div class="mb-4">
        <label class="block text-gray-700">Valor del material</label>
        <input
          type="number"
          [(ngModel)]="materialValue"
          name="materialValue"
          class="form-input mt-1 block w-full"
          (change)="calculatePrice()"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Tiempo de uso (min)</label>
        <input
          type="number"
          [(ngModel)]="usageTime"
          name="usageTime"
          class="form-input mt-1 block w-full"
          (change)="calculatePrice()"
        />
      </div>
    </div>

    <!-- Resultado -->
    <div class="mb-4" *ngIf="calculatorResult > 0">
      <p class="font-bold">Resultado: {{ calculatorResult }} COP</p>
    </div>

    <div class="flex justify-end mt-4">
      <button type="button" class="btn-danger" (click)="closeCalculator()">
        Cerrar
      </button>
    </div>
  </div>
</div>

<!-- Notificación temporal -->
<div
  *ngIf="notificationMessage"
  class="fixed top-4 right-4 bg-green-500 text-white p-2 rounded shadow-md z-50"
>
  {{ notificationMessage }}
</div>
