<router-outlet></router-outlet>
<app-main-banner></app-main-banner>

<!-- Indicador de carga -->
<div *ngIf="loading" class="p-4 text-center text-gray-600">
  <p>Cargando datos de poliestireno...</p>
</div>

<!-- Filtros y acciones -->
<div *ngIf="!loading" class="flex justify-end items-center mb-4 mt-4 ml-2">
  <button class="btn-add inline-flex items-center space-x-2" (click)="addPolystyrene()">
    <svg
      class="w-5 h-5 inline-block align-middle mt-[3px]"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
        fill="#ffffff"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
        fill="#ffffff"
      />
    </svg>
    <span>Añadir</span>
  </button>
</div>
<div class="flex items-center justify-center py-4 space-x-4 top-5">
  <div class="relative w-full max-w-md">
    <input
      type="text"
      [(ngModel)]="searchCaliber"
      (input)="updateFilteredPolystyrenes()"
      placeholder="Buscar por calibre..."
      class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
    />
  </div>
</div>
<div class="flex justify-start items-center mb-4 mt-4 ml-2">
  <div class="flex space-x-2">
    <label for="format" class="font-semibold">Formato:</label>
    <select
      id="format"
      [(ngModel)]="selectedFormat"
      class="border border-gray-300 rounded-md p-1 h-10"
    >
      <option value="1 Lámina">1 Lámina</option>
      <option value="1/2 (Media Lámina)">1/2 (Media Lámina)</option>
      <option value="1/3 (Tercio de Lámina)">1/3 (Tercio de Lámina)</option>
      <option value="1/4 (Cuarto de Lámina)">1/4 (Cuarto de Lámina)</option>
      <option value="1/8 (Octavo de Lámina)">1/8 (Octavo de Lámina)</option>
      <option value="1/16 (Dieciseisavo de Lámina)">
        1/16 (Dieciseisavo de Lámina)
      </option>
      <option value="1/32 (Treintaydosavo de Lámina)">
        1/32 (Treintaydosavo de Lámina)
      </option>
    </select>

    <select
      [(ngModel)]="searchType"
      (change)="updateFilteredPolystyrenes()"
      class="border p-2 rounded h-10"
    >
      <option value="">-- Todos los tipos --</option>
      <option *ngFor="let type of availableTypes" [value]="type">
        {{ type }}
      </option>
    </select>
  </div>
</div>
<!-- Tabla -->
<div *ngIf="!loading">
  <div *ngIf="paginatedPolystyrenes.length > 0">
    <div class="table-container">
      <table class="table-std">
        <thead>
          <tr>
            <th (click)="toggleSortDirection('type')" class="cursor-pointer">
              Tipo <span>{{ getSortIcon("type") }}</span>
            </th>
            <th (click)="toggleSortDirection('caliber')" class="cursor-pointer">
              Calibre <span>{{ getSortIcon("caliber") }}</span>
            </th>
            <th>Costo</th>
            <th>30% Util.</th>
            <th>Margen</th>
            <th>+Margen</th>
            <th>Sin IVA</th>
            <th>IVA</th>
            <th>Con IVA</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of paginatedPolystyrenes">
            <td>{{ item.type }}</td>
            <td>{{ item.caliber }}</td>
            <td>{{ item.whole | currency : "COP" }}</td>
            <td>
              {{
                calculateBasePriceWith30PercentProfit(item.whole)
                  | currency : "COP"
              }}
            </td>
            <td>{{ (getAppliedMargin() * 100).toFixed(0) }}%</td>
            <td>
              {{
                calculateAdjustedPriceWith30PercentProfit(item.whole)
                  | currency : "COP"
              }}
            </td>
            <td>
              {{
                calculatePriceWithMargin(
                  calculateAdjustedPriceWith30PercentProfit(item.whole)
                ) | currency : "COP"
              }}
            </td>
            <td>
              {{
                calculateIva(
                  calculateFinalPriceWithoutIva(
                    calculatePriceWithMargin(
                      calculateAdjustedPriceWith30PercentProfit(item.whole)
                    )
                  )
                ) | currency : "COP"
              }}
            </td>
            <td>
              {{
                calculatePriceWithIva(
                  calculateFinalPriceWithoutIva(
                    calculatePriceWithMargin(
                      calculateAdjustedPriceWith30PercentProfit(item.whole)
                    )
                  ),
                  calculateIva(
                    calculateFinalPriceWithoutIva(
                      calculatePriceWithMargin(
                        calculateAdjustedPriceWith30PercentProfit(item.whole)
                      )
                    )
                  )
                ) | currency : "COP"
              }}
            </td>
            <td>
              <button class="btn-edit" (click)="editPolystyrene(item)">
                Editar
              </button>
              <button class="btn-delete" (click)="deletePolystyrene(item)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginación -->
    <div class="flex justify-between items-center mb-4">
      <div class="pagination flex items-center">
        <button
          (click)="currentPage = 1; updatePaginatedPolystyrenes()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          &#8656;
        </button>
        <button
          (click)="currentPage = currentPage - 1; updatePaginatedPolystyrenes()"
          [disabled]="currentPage === 1"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          &#8592;
        </button>
        <span class="mx-4 text-gray-700"
          >Página {{ currentPage }} de {{ totalPages }}</span
        >
        <button
          (click)="currentPage = currentPage + 1; updatePaginatedPolystyrenes()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-7 h-7"
        >
          &#8594;
        </button>
        <button
          (click)="currentPage = totalPages; updatePaginatedPolystyrenes()"
          [disabled]="currentPage === totalPages"
          class="px-2 py-1 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
        >
          &#8658;
        </button>
      </div>
      <div class="items-per-page flex items-center">
        <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
        <select
          id="itemsPerPage"
          [(ngModel)]="itemsPerPage"
          (change)="currentPage = 1; updatePaginatedPolystyrenes()"
          class="border border-gray-300 rounded-md p-1"
        >
          <option *ngFor="let size of [5, 10, 15, 20]" [value]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- Sin resultados -->
  <div
    *ngIf="paginatedPolystyrenes.length === 0"
    class="p-4 text-center text-gray-600"
  >
    <p>No hay resultados para los filtros aplicados.</p>
  </div>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <h3 class="text-lg font-bold mb-4">
      {{ isEditing ? "Editar Poliestireno" : "Nuevo Poliestireno" }}
    </h3>
    <form (ngSubmit)="savePolystyrene()">
      <div class="mb-4">
        <label class="block modal-input-item"
          >Tipo<span class="text-red-500">*</span></label
        >
        <input
          type="text"
          [(ngModel)]="selectedPolystyrene.type"
          name="type"
          class="form-input mt-1 block w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block modal-input-item"
          >Calibre<span class="text-red-500">*</span></label
        >
        <input
          type="text"
          [(ngModel)]="selectedPolystyrene.caliber"
          name="caliber"
          class="form-input mt-1 block w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block modal-input-item"
          >Precio lámina entera (COP)<span class="text-red-500">*</span></label
        >
        <input
          type="number"
          [(ngModel)]="selectedPolystyrene.whole"
          name="whole"
          class="form-input mt-1 block w-full"
          required
        />
      </div>
      <div class="flex justify-end mt-4">
        <button type="button" class="btn-danger mr-2" (click)="closeModal()">
          Cancelar
        </button>
        <button type="submit" class="btn-success">
          {{ isEditing ? "Actualizar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
