<app-main-banner></app-main-banner>

<div *ngIf="loading" class="p-4 text-center text-gray-600">
  <p>Cargando egresos...</p>
</div>

<div class="expenses-container">
  <!-- Filtros - Checkboxes de categorías -->
  <div class="ml-4 mb-4">
    <div *ngFor="let category of uniqueCategories" class="inline-flex items-center mr-4">
      <input
        type="checkbox"
        [(ngModel)]="categoryCheckboxes[category]"
        (click)="onCheckboxChange(category)"
        class="form-checkbox"
      />
      <span class="ml-2">{{ category }}</span>
    </div>
  </div>

  <!-- Filtros -->
  <div class="flex justify-between items-center mb-4">
    <!-- Botón Añadir -->
    <button
      class="px-4 py-2 bg-red-500 text-white rounded-full hover:bg-red-700"
      (click)="addNewExpense()"
    >
      Añadir Nuevo Egreso
    </button>
  </div>

  <!-- Filtros de Fechas -->
  <div class="flex items-center space-x-4">
    <div>
      <label for="startDate" class="mr-2 font-semibold">Desde:</label>
      <input
        type="date"
        id="startDate"
        [(ngModel)]="startDate"
        (ngModelChange)="applyFilters()"
        class="border border-gray-300 rounded-md p-1"
      />
    </div>
    <div>
      <label for="endDate" class="mr-2 font-semibold">Hasta:</label>
      <input
        type="date"
        id="endDate"
        [(ngModel)]="endDate"
        (ngModelChange)="applyFilters()"
        class="border border-gray-300 rounded-md p-1"
      />
    </div>
  </div>

  <!-- Tabla -->
  <div class="table-std">
    <table>
      <thead>
        <tr>
          <th class="table-column-std">Código</th>
          <th class="table-column-std">Fecha</th>
          <th class="table-column-std">Categoría</th>
          <th class="table-column-std">Tipo</th>
          <th class="table-column-std">Descripción</th>
          <th class="table-column-std">Costo</th>
          <th class="table-column-std">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of paginatedExpenses">
          <td>{{ expense.code }}</td>
          <td>{{ expense.payment_date | date }}</td>
          <td>{{ expense.category }}</td>
          <td>{{ expense.type }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.cost | currency }}</td>
          <td>
            <button class="btn-edit" (click)="editExpense(expense)">
              Editar
            </button>
            <button class="btn-delete" (click)="deleteExpense(expense)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-between items-center mb-4">
    <!-- Controles de paginación -->
    <div class="pagination flex items-center">
      <button
        (click)="currentPage = currentPage - 1; updatePaginatedExpenses()"
        [disabled]="currentPage === 1"
        class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
      >
        ←
      </button>
      <span class="mx-4 text-gray-700"
        >Página {{ currentPage }} de {{ totalPages }}</span
      >
      <button
        (click)="currentPage = currentPage + 1; updatePaginatedExpenses()"
        [disabled]="currentPage === totalPages"
        class="px-2 py-1 text-gray-700 border rounded-full disabled:opacity-50 flex items-center justify-center w-8 h-8"
      >
        →
      </button>
    </div>

    <!-- Selector de elementos por página -->
    <div class="items-per-page flex items-center">
      <label for="itemsPerPage" class="mr-2">Elementos por página:</label>
      <select
        id="itemsPerPage"
        [(ngModel)]="itemsPerPage"
        (change)="currentPage = 1; updatePaginatedExpenses()"
        class="border border-gray-300 rounded-md p-1"
      >
        <option *ngFor="let size of [2, 10, 15, 20]" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>


  <!-- Modal para añadir/editar egresos -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content w-1/2">
    <h2>{{ isEditing ? 'Editar Egreso' : 'Añadir Nuevo Egreso' }}</h2>

    <!-- Formulario -->
    <form (ngSubmit)="saveExpense()">
      <div class="form-group">
        <label for="payment_date">Fecha</label>
        <input
          type="date"
          id="payment_date"
          [(ngModel)]="selectedExpense.payment_date"
          name="payment_date"
          class="form-input"
          required
        />
      </div>

      <div class="form-group">
        <label for="category">Categoría</label>
        <select
          id="category"
          [(ngModel)]="selectedExpense.category"
          name="category"
          class="form-select"
          (change)="onCategoryChange($event)"
          required
        >
          <option *ngFor="let category of uniqueCategories" [value]="category">
            {{ category }}
          </option>
          <option value="Otros">Otros</option>
        </select>
        <input
          *ngIf="showOtherCategoryInput"
          type="text"
          [(ngModel)]="otherCategory"
          placeholder="Especificar categoría"
          class="form-input mt-2"
          required
        />
      </div>

      <div class="form-group">
        <label for="type">Tipo</label>
        <input
          type="text"
          id="type"
          [(ngModel)]="selectedExpense.type"
          name="type"
          class="form-input"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea
          id="description"
          [(ngModel)]="selectedExpense.description"
          name="description"
          class="form-textarea"
          rows="3"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="cost">Costo</label>
        <input
          type="number"
          id="cost"
          [(ngModel)]="selectedExpense.cost"
          name="cost"
          class="form-input"
          step="0.01"
          required
        />
      </div>

      <div class="form-group">
        <label for="code">Código</label>
        <input
          type="number"
          id="code"
          [(ngModel)]="selectedExpense.code"
          name="code"
          class="form-input"
          required
        />
      </div>

      <!-- Botones -->
      <div class="form-actions">
        <button type="button" class="btn-danger" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn-primary">{{ isEditing ? 'Actualizar Egreso' : 'Añadir Egreso' }}</button>
      </div>
    </form>
  </div>
</div>

