<app-main-banner></app-main-banner>

<!-- Filter checkboxes -->
<div class="ml-4">
  <label class="inline-flex items-center mr-4">
    <input
      type="checkbox"
      [(ngModel)]="showPrints"
      class="form-checkbox"
      (change)="updateFilteredInvoices()"
    />
    <span class="ml-4">Impresiones</span>
  </label>
  <label class="inline-flex items-center mr-4">
    <input
      type="checkbox"
      [(ngModel)]="showCuts"
      class="form-checkbox"
      (change)="updateFilteredInvoices()"
    />
    <span class="ml-4">Cortes</span>
  </label>
  <label class="inline-flex items-center mr-4">
    <input
      type="checkbox"
      [(ngModel)]="showSales"
      class="form-checkbox"
      (change)="updateFilteredInvoices()"
    />
    <span class="ml-4">Ventas</span>
  </label>
  <label class="inline-flex items-center mr-4">
    <input
      type="checkbox"
      [(ngModel)]="showDebt"
      class="form-checkbox"
      (change)="updateFilteredInvoices()"
    />
    <span class="ml-4">En Mora</span>
  </label>
</div>
<div class="flex items-center justify-center py-4">
  <div class="w-full max-w-md relative mr-40">
    <input
      type="text"
      placeholder="Buscar factura por número..."
      [(ngModel)]="searchQuery"
      class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
    />
    <button
      class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-700 w-auto"
      (click)="onSearch()"
    >
      Buscar
    </button>
  </div>
  <div class="w-full max-w-md relative ml-40">
    <input
      type="text"
      placeholder="Buscar cliente por nombre..."
      [(ngModel)]="nameSearchQuery"
      (ngModelChange)="searchClient()"
      class="w-full py-2 px-4 rounded-full border-2 border-red-500 text-gray-700 focus:outline-none focus:border-red-700"
    />
    <button
      class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-700 w-auto"
      (click)="searchClient()"
    >
      Buscar
    </button>
  </div>
</div>

<!-- Render filtered invoices in a table -->
<div class="mt-4">
  <h2 class="text-xl font-bold">Facturas</h2>
  <ul class="mt-2">
    <table class="table-auto border-collapse border border-gray-400 w-full">
      <thead>
        <tr>
          <th class="border border-gray-300 px-4 py-2 bg-gray-200">
            N. de Factura
          </th>
          <th class="border border-gray-300 px-4 py-2 bg-gray-200">Tipo</th>
          <th class="border border-gray-300 px-4 py-2 bg-gray-200">
            Nombre/Empresa
          </th>
          <th class="border border-gray-300 px-4 py-2 bg-gray-200">Fecha</th>
          <th class="border border-gray-300 px-4 py-2 bg-gray-200">Importe</th>
          <th class="border border-gray-300 px-4 py-2 bg-gray-200">Estado</th>
          <th class="border border-gray-300 px-4 py-2 bg-gray-200">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of filteredInvoices()">
          <td class="border border-gray-300 px-4 py-2">{{ invoice.code }}</td>
          <td class="border border-gray-300 px-4 py-2">
            {{
              invoice.order.order_type === "print"
                ? "Impresiones"
                : invoice.order.order_type === "laser"
                ? "Cortes"
                : invoice.order.order_type === "sales"
                ? "Ventas"
                : "Otro"
            }}
          </td>
          <td class="border border-gray-300 px-4 py-2">
            {{ invoice.order.client.company_name || invoice.order.client.name }}
          </td>
          <td class="border border-gray-300 px-4 py-2">
            {{ invoice.created_at | date : "dd-MM-yyyy" }}
          </td>
          <td class="border border-gray-300 px-4 py-2">
            {{ invoice.order.amount }}
          </td>
          <td
            class="border border-gray-300 px-4 py-2"
            [class.text-green-600]="invoice.invoice_status === 'upToDate'"
            [class.text-red-600]="invoice.invoice_status === 'overdue'"
          >
            {{
              invoice.invoice_status === "overdue"
                ? "En Mora"
                : invoice.invoice_status === "upToDate"
                ? "Al Dia"
                : "Desconocido"
            }}
          </td>
          <td class="border border-gray-300 px-4 py-2">
            <button
              class="bg-red-500 text-white py-1 px-3 rounded"
              (click)="selectInvoice(invoice)"
            >
              Ver Detalles
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
</div>

<!-- Show details of the selected invoice -->
<div
  *ngIf="selectedInvoiceDetails && selectedInvoiceDetails.length > 0"
  class="mt-4"
>
  <h2 class="text-xl font-bold">Detalles de Factura</h2>

  <!-- Printable Invoice Layout -->
  <div class="p-4 border border-gray-300 bg-white invoice-details">
    <div class="flex justify-between mb-4">
      <div>
        <h3 class="font-semibold text-lg">
          Factura N°: {{ selectedInvoiceDetails[0].code }}
        </h3>
        <p>
          <strong>Fecha:</strong>
          {{ selectedInvoiceDetails[0].created_at | date : "dd-MM-yyyy" }}
        </p>
        <p
          [class.text-green-600]="
            selectedInvoiceDetails[0].invoice_status === 'upToDate'
          "
          [class.text-red-600]="
            selectedInvoiceDetails[0].invoice_status === 'overdue'
          "
        >
          <strong>Estado:</strong>
          {{
            selectedInvoiceDetails[0].invoice_status === "overdue"
              ? "En Mora"
              : selectedInvoiceDetails[0].invoice_status === "upToDate"
              ? "Al Dia"
              : "Desconocido"
          }}
        </p>
      </div>
      <div class="text-right">
        <p>
          <strong>De:</strong>
          {{
            selectedInvoiceDetails[0].order.client.company_name ||
              selectedInvoiceDetails[0].order.client.name
          }}
        </p>
        <p>{{ selectedInvoiceDetails[0].order.client.address }}</p>
        <p>
          {{ selectedInvoiceDetails[0].order.client.city }},
          {{ selectedInvoiceDetails[0].order.client.province }}
          {{ selectedInvoiceDetails[0].order.client.postal_code }}
        </p>
        <p>{{ selectedInvoiceDetails[0].order.client.email }}</p>
        <p>{{ selectedInvoiceDetails[0].order.client.cellphone }}</p>
      </div>
    </div>

    <!-- Itemized Invoice List -->
    <div class="my-6">
      <h4 class="font-semibold"></h4>
      <ul class="list-none">
        <li>
          <p>
            <strong>Descripción:</strong>
            {{ selectedInvoiceDetails[0].order.description }}
          </p>
          <p>
            <strong>Cantidad:</strong>
            {{ selectedInvoiceDetails[0].order.order_quantity }}
          </p>
          <p>
            <strong>Valor Unitario:</strong>
            {{ selectedInvoiceDetails[0].order.unitary_value }}
          </p>
          <p>
            <strong>Subtotal:</strong>
            {{ selectedInvoiceDetails[0].order.subtotal }}
          </p>
          <p *ngIf="selectedInvoiceDetails[0].order.iva">
            <strong>IVA:</strong>
            {{ selectedInvoiceDetails[0].order.iva }}
          </p>
        </li>
      </ul>
    </div>

    <!-- Totals Section -->
    <div class="border-t pt-4 mt-4">
      <div class="flex justify-between">
        <p><strong>Subtotal:</strong></p>
        <p>{{ selectedInvoiceDetails[0].order.subtotal }}</p>
      </div>
      <div class="flex justify-between">
        <p *ngIf="selectedInvoiceDetails[0].order.iva"><strong>IVA:</strong></p>
        <p>{{ selectedInvoiceDetails[0].order.iva }}</p>
      </div>
      <div class="flex justify-between">
        <p><strong>Total:</strong></p>
        <p class="font-bold">
          {{ selectedInvoiceDetails[0].order.total }}
        </p>
      </div>
    </div>
    <button
      class="bg-green-500 text-white py-2 px-4 mt-4 rounded"
      (click)="generatePdf()"
    >
      Descargar PDF
    </button>
  </div>
</div>
