@use "../../../styles.scss";

.printable-invoice {
  padding: 20px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
  background-color: white;
  font-family: Arial, sans-serif;
}

.printable-invoice h2 {
  text-align: center;
  margin-bottom: 20px;
}

.printable-invoice .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.printable-invoice .header div {
  width: 45%;
}

.printable-invoice .itemized-list {
  margin-bottom: 20px;
}

.printable-invoice .total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
}

.printable-invoice .total p {
  margin: 0;
}

/* Estilo para el modal */
.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.shadow-lg {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

/* Clase para el ancho del modal */
.modal-width {
  width: 50%;
}


.items-per-page {
  margin-left: auto; /* Mueve el selector de "Elementos por página" completamente a la derecha */
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination button {
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris claro */
  color: #000; /* Texto negro */
  width: 32px; /* Ancho del botón */
  height: 32px; /* Alto del botón */
  border-radius: 50%; /* Forma circular */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* Tamaño de las flechas */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination button:hover:not([disabled]) {
  background-color: #f0f0f0;
  color: #000; /* Mantener texto negro en hover */
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  margin: 0 0.5rem;
}