@use "../../../styles.scss";

.printable-invoice {
  padding: 20px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
  background-color: white;
  font-family: Arial, sans-serif;
}

.printable-invoice h2 {
  text-align: center;
  margin-bottom: 20px;
}

.printable-invoice .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.printable-invoice .header div {
  width: 45%;
}

.printable-invoice .itemized-list {
  margin-bottom: 20px;
}

.printable-invoice .total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
}

.printable-invoice .total p {
  margin: 0;
}
