@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    background-color: #b91c1c; /* Dark red */
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  .nav-item {
    text-align: center;
    cursor: pointer;
  }
  
  .sidebar {
    border-right: 1px solid #ccc;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
