@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: inherit !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilos para botones */
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

.btn-primary {
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #0056b3;
  }
}

/* Estilos para botones de acciones (editar y eliminar) */
.btn-edit {
  padding: 0.5rem 0.25rem;
  background-color: #f59e0b; /* bg-yellow-500 */
  color: white;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  &:hover {
    background-color: #d97706; /* bg-yellow-600 */
  }
}

.btn-liquidation {
  padding: 0.5rem 0.25rem;
  background-color: #af0e41;
  color: white;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  &:hover {
    background-color: #8a0b32; /* Darker shade of #af0e41 */
  }
}

/* Estilos para tablas combinados */
.table-std {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #510a32;
  margin-top: theme("spacing.2");

  th,
  td {
    border: 1px solid #510a32;
    padding: theme("spacing.2");
    transition: background-color 0.3s ease-in-out;
  }

  thead {
    background-color: #af0e41 !important;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }

  tbody tr {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #d1d5db;
      cursor: pointer;
    }
  }
}

.table-column-std {
  border: 1px solid;
  border-color: #2d142c;
  padding: theme("spacing.2") theme("spacing.4");
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.btn-delete {
  padding: 0.5rem 0.25rem;
  background-color: #ef4444;
  color: white;
  border-radius: 0.25rem;
  &:hover {
    background-color: #b91c1c;
  }
}
.btn-add {
  --tw-bg-opacity: 1;
  background-color: #af0e41;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: theme("borderRadius.DEFAULT");
  transition: background-color 0.3s ease-in-out;
  --tw-bg-opacity: 1;
  margin-right: theme("spacing.5");
  &:hover {
    background-color: #7e0b2f;
  }
}

.btn-details {
  background-color: #6c63ff;
  color: theme("colors.white");
  padding: theme("spacing.1") theme("spacing.3");
  margin-right: theme("spacing.5");
  border-radius: theme("borderRadius.DEFAULT");
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #362cfd;
  }
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  margin-right: 0.5rem;

  &:hover {
    background-color: #c82333;
  }
}

.btn-success {
  background-color: #28a745;
  color: white;

  &:hover {
    background-color: #218838;
  }
}

/* Estilos para formularios */
.form-input,
.form-select,
.form-textarea {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

/* Estilos para modales */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay.top {
  z-index: 1001;
}
.modal-content.top {
  z-index: 1001;
}
.modal-content {
  resize: both;
  border-color: #ad2651;
  border-width: 2px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  position: fixed;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  width: 600px;
  height: 800px;
  max-width: 95vw;
  max-height: 95vh;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 1000;

  @media (min-width: 768px) {
    width: 600px;
    height: 800px;
  }
}
.modal-h250 {
  height: 250px;
}
.modal-h300 {
  height: 300px;
}
.modal-h400 {
  height: 400px;
}
.modal-h550 {
  height: 550px;
}
.modal-h600 {
  height: 600px;
}
.modal-h650 {
  height: 650px;
}
.modal-h750 {
  height: 750px;
}
.modal-h800 {
  height: 800px;
}
.modal-w500 {
  width: 500px;
}
.modal-w720 {
  width: 720px;
}
.modal-w1200 {
  width: 1200px;
}
.modal-content.expanded {
  height: 450px;
}
.modal-table {
  width: 95%;
  max-width: 500px;
  border-collapse: collapse;
  border: 1px solid theme("colors.gray.400");
  margin-top: theme("spacing.2");
  overflow-x: auto;
  th,
  td {
    border: 1px solid theme("colors.gray.400");
    padding: theme("spacing.2");
  }

  thead {
    background-color: theme("colors.gray.200");
  }
}
.modal-table-column {
  border: 1px solid theme("colors.gray.300");
  width: 95%;
  max-width: 500px;
  padding: theme("spacing.2") theme("spacing.4");
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
}

.modal-input-item {
  color: black;
  border-radius: 6px;
  z-index: 1000;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para paginación */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;

  button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #e0e0e0;
      cursor: not-allowed;
    }
  }

  span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

/* Estilos para notificaciones */
.notifications-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;

  .notification-section {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    padding: 1rem;

    .section-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 0.5rem;
      border-bottom: 2px solid #ddd;
      padding-bottom: 0.5rem;

      .notification-count {
        background-color: #ff6b6b;
        color: white;
        padding: 0.2rem 0.6rem;
        border-radius: 20px;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        transition: background-color 0.2s ease;
      }
    }
  }
}

/* Estilos para el banner */
.banner {
  background-color: #b91c1c;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
}
.notifications-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
  .form-input,
  .form-select {
    border: 1px solid #d1d5db; /* Color del borde predeterminado (gris claro) */
    border-radius: 0.375rem; /* Bordes redondeados */
    padding: 0.5rem; /* Espaciado interno */
    width: 100%; /* Ocupa el ancho completo del contenedor */
    box-sizing: border-box; /* Incluye el padding dentro del ancho */
    transition: border-color 0.3s ease; /* Animación suave al cambiar de borde */
  }
  .notification-section {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    padding: 1rem;

    .section-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 0.5rem;
      border-bottom: 2px solid #ddd;
      padding-bottom: 0.5rem;

      .notification-count {
        background-color: #ff6b6b;
        color: white;
        padding: 0.2rem 0.6rem;
        border-radius: 20px;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        transition: background-color 0.2s ease;
      }
    }
  }
}
/* Estilos para la barra de navegación */

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  z-index: -1;

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3; /* Azul más oscuro al hacer hover */
    }
  }
}
h1 {
  position: relative;
  z-index: 10; /* Ensure title is on top of buttons */
}
.nav-item.active {
  font-weight: bold;
  border: 2px solid;
  background-color: rgb(175, 14, 65);
  z-index: 11;
}
.nav-item {
  text-align: center;
  cursor: pointer;
  padding: 0.75rem;
  text-align: center;
  border: 2px solid;
  color: white;
  background-color: #c72c41;
  border-color: #c72c41;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.2s;
  z-index: 10;

  &:hover {
    background-color: #df3c3c;
    color: white;
    transform: scale(1.02);
    z-index: 10;
  }
}
.btn-signout {
  text-align: center;
  cursor: pointer;
  padding: 0.75rem;
  text-align: center;
  border: 2px solid;
  color: white;
  background-color: #af0e41;
  border-color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.2s;
  z-index: 10;

  &:hover {
    background-color: #df3c3c;
    color: white;
    transform: scale(1.02);
    z-index: 10;
  }
}
.btn-signout.active {
  font-weight: bold;
  border: 2px solid;
  background-color: rgb(175, 14, 65);
  z-index: 11;
}
.hero-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease-out;
}

.hero-fade.show {
  opacity: 1;
  transform: translateY(0);
}
.hero-animate {
  animation: fadeInUp 0.7s ease-out forwards;
}

.hero-hide {
  animation: fadeOutDown 0.7s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.dropdown {
  border-color: #c72c41;
  background-color: #c72c41;
  color: white;
  text-align: center;
  z-index: 100;

  &:hover {
    text-align: center;
    background-color: #df3c3c;
    color: white;
  }
}
.nav-bar {
  display: flex;
  overflow: visible;
  text-align: center;
  padding: 0.25rem;
  gap: 0.5rem;
  text-align: center;
  border: 0.25px solid;
  color: white;
  background-color: #c72c41;
  border-color: #c72c41;

  &:hover {
    background-color: #c72c41;
    color: white;
  }
}
.nav-item-dropdown {
  @apply text-center cursor-pointer py-3 px-3 border-2 text-white bg-transparent transition-colors duration-300 ease-in-out transform hover:bg-red-600 hover:text-white hover:scale-105 flex items-center;

  border-color: #c72c41;
  background-color: #c72c41;
  z-index: 15;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    margin-left: 0.5rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transform-origin: center;
  }

  &:hover {
    background-color: #df3c3c;
    color: white;
  }
}

.nav-item-dropdown.active {
  font-weight: bold;
  border: 2px solid;
  background-color: rgb(175, 14, 65);
  z-index: 11;
}

.sidebar {
  border-right: 1px solid #ccc;
}

/* Estilos para el login */
.login-container {
  background-color: #e44343;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  min-width: 280px;
  max-width: 350px;
  width: 80%;
}

.input-field {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 16px;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    border-color: #b91c1c;
  }
}
.transactions-container {
  max-width: 1200px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .filter-item {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;

      label {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        color: #555;
      }

      .filter-input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }

  .balance-section {
    text-align: center;
    margin-bottom: 2rem;

    .balance-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
    }

    .balance-amount {
      font-size: 1.2rem;
      color: #007bff;
    }
  }
}
.btn-login,
.btn-register {
  font-size: 16px;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #b91c1c;
  color: #b91c1c;
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.2s;

  &:hover {
    background-color: #b91c1c;
    color: white;
    transform: scale(1.02);
  }
}

.logo {
  font-family: "Georgia", serif;
  letter-spacing: 2px;
  color: #b91c1c;
}

.text-box {
  background-color: rgb(255, 255, 255);
  padding: 24px;
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(254 226 226 / var(--tw-border-opacity, 1));
  border-radius: 16px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  &:hover {
    --tw-shadow-color: #fecaca;
    --tw-shadow: var(--tw-shadow-colored);
  }
}

.btn-contact {
  @apply text-[#510A32]
             border border-white
             hover:border-gray-200
             dark:border-[#510A32]
             dark:bg-[#510A32]
             dark:hover:border-gray-700
             bg-white
             focus:ring-4
             focus:outline-none
             focus:ring-gray-300
             rounded-full
             text-base
             font-medium
             px-5
             py-2.5
             text-center
             me-3
             mb-3
             dark:text-white
             dark:focus:ring-gray-800;
}
/* Transición suave para los slides */
.carousel-slide {
  transition: opacity 0.5s ease-in-out;
}

/* Efecto hover para los controles */
.carousel-control:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
