<router-outlet></router-outlet>
<app-main-banner></app-main-banner>

<div class="p-6 bg-white rounded shadow-md max-w-4xl mx-auto my-6">
  <h2 class="text-2xl font-bold mb-4">Panel de Control</h2>
  <div class="mb-4">
    <label class="block font-semibold">IVA (%)</label>
    <input [(ngModel)]="variables.iva" type="number" class="form-input" />
  </div>

  <div class="mb-4">
    <label class="block font-semibold">Margen de Utilidad (%)</label>
    <input
      [(ngModel)]="variables.utility_margin"
      type="number"
      class="form-input"
    />
  </div>

  <!-- ReteFuente -->
  <h3 class="text-lg font-bold mt-6">Retefuente</h3>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <label>Bienes - Declara</label>
      <input
        [(ngModel)]="variables.retefuente_bienes_declara"
        type="number"
        class="form-input"
      />
    </div>
    <div>
      <label>Bienes - No Declara</label>
      <input
        [(ngModel)]="variables.retefuente_bienes_no_declara"
        type="number"
        class="form-input"
      />
    </div>
    <div>
      <label>Servicios - Declara</label>
      <input
        [(ngModel)]="variables.retefuente_servicios_declara"
        type="number"
        class="form-input"
      />
    </div>
    <div>
      <label>Servicios - No Declara</label>
      <input
        [(ngModel)]="variables.retefuente_servicios_no_declara"
        type="number"
        class="form-input"
      />
    </div>
  </div>

  <!-- ReteICA -->
  <h3 class="text-lg font-bold mt-6">ReteICA</h3>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <label>Bienes</label>
      <input
        [(ngModel)]="variables.reteica_bienes"
        type="number"
        class="form-input"
      />
    </div>
    <div>
      <label>Servicios</label>
      <input
        [(ngModel)]="variables.reteica_servicios"
        type="number"
        class="form-input"
      />
    </div>
  </div>
  <!-- Prints -->
  <h3 class="text-lg font-bold mt-6">Impresiones</h3>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h2 class="text-lg font-bold mt-6">Cliente Intermediario</h2>
      <label>Valor de Ensamblado</label>
      <input
        [(ngModel)]="variables.intermediaryAssembleValue"
        type="number"
        class="form-input"
      />
      <label>Valor de Laminado</label>
      <input
        [(ngModel)]="variables.intermediaryLaminationValue"
        type="number"
        class="form-input"
      />
      <label>Valor de Troquelado</label>
      <input
        [(ngModel)]="variables.intermediaryStampingValue"
        type="number"
        class="form-input"
      />
      <label>Valor de Impresion</label>
      <input
        [(ngModel)]="variables.intermediaryPrintValue"
        type="number"
        class="form-input"
      />
    </div>
    <div>
      <h2 class="text-lg font-bold mt-6">Cliente Final</h2>
      <label>Valor de Ensamblado</label>
      <input
        [(ngModel)]="variables.finalAssembleValue"
        type="number"
        class="form-input"
      />
      <label>Valor de Laminado</label>
      <input
        [(ngModel)]="variables.finalLaminationValue"
        type="number"
        class="form-input"
      />
      <label>Valor de Troquelado</label>
      <input
        [(ngModel)]="variables.finalStampingValue"
        type="number"
        class="form-input"
      />
      <label>Valor de Impresion</label>
      <input
        [(ngModel)]="variables.finalPrintValue"
        type="number"
        class="form-input"
      />
    </div>
  </div>
  <!-- Cuts -->
  <h3 class="text-lg font-bold mt-6">Cortes</h3>
  <label>Valor de corte por minuto (<=10)</label>
  <input
    [(ngModel)]="variables.baseCutTimeValue"
    type="number"
    class="form-input"
  />
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h2 class="text-lg font-bold mt-6">Cliente Intermediario</h2>
      <input
        [(ngModel)]="variables.intermediaryPerMinute"
        type="number"
        class="form-input"
      />
    </div>
    <div>
      <h2 class="text-lg font-bold mt-6">Cliente Final</h2>
      <input
        [(ngModel)]="variables.finalPerMinute"
        type="number"
        class="form-input"
      />
    </div>
  </div>
  <div class="mb-4 mt-4 flex justify-start">
    <label for="role-select" class="mr-2 inline-flex font-semibold"
      >Cambiar Rol:</label
    >
    <select
      id="role-select"
      [(ngModel)]="userRole"
      (change)="onRoleChange()"
      class="border shadow-md border-gray-300 rounded p-2 text-black"
    >
      <option value="admin">Administrador</option>
      <option value="prints_employee">Empleado Impresiones</option>
      <option value="cuts_employee">Empleado Cortes</option>
      <option value="scheduler">Agendador</option>
    </select>
  </div>

  <div class="flex justify-end mt-6 gap-4">
    <button class="btn-danger" (click)="resetVariables()">Reiniciar</button>
    <button class="btn-success" (click)="saveChanges()">Guardar Cambios</button>
  </div>
</div>
<div
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 px-6 py-4 rounded-lg text-white text-lg font-semibold flex items-center gap-3 transition-all duration-700 pointer-events-none"
  [class.opacity-100]="toastVisible"
  [class.opacity-0]="!toastVisible"
  [class.scale-100]="toastVisible"
  [class.scale-75]="!toastVisible"
  [class.bg-green-600]="toastType === 'success'"
  [class.bg-red-600]="toastType === 'error'"
  (transitionend)="onTransitionEnd()"
  *ngIf="toastDisplay"
>
  <svg
    *ngIf="toastType === 'success'"
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
  </svg>
  <svg
    *ngIf="toastType === 'error'"
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18L18 6M6 6l12 12"
    />
  </svg>
  {{ toastMessage }}
</div>
