@use "../../../styles.scss";

.navigations {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-item2 {
    position: relative;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      color: #d32f2f; // Red on hover
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      background: white;
      border: 1px solid #e0e0e0;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      top: calc(100% + 0.5rem); // Appears below the button
      z-index: 10;

      li {
        padding: 0.5rem;
        cursor: pointer;
        text-align: left;

        &:hover {
          background: #f5f5f5;
        }
      }
    }
  }
}
