<router-outlet></router-outlet>
<div class="banner bg-red-600 text-white py-4 text-center">
    <h1 class="text-3xl font-bold">La Casa del Acrílico</h1>
  </div>
  
  <div class="container mx-auto px-4">
    <!-- Navigation -->
    <div class="navigation flex justify-around py-4 border-b">
      <div class="nav-item cursor-pointer" (click)="goToHome()">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </div>
      <div class="nav-item">
        <i class="fas fa-dollar-sign"></i>
        <span>Financiamiento</span>
      </div>
      <div class="nav-item cursor-pointer" (click)="goToInventory()">
        <i class="fas fa-box"></i>
        <span>Inventario</span>
      </div>
      <div class="nav-item">
        <i class="fas fa-users"></i>
        <span>Clientes</span>
      </div>
      <div class="nav-item">
        <i class="fas fa-users"></i>
        <span>Facturas</span>
      </div>
      <div class="nav-item">
        <i class="fas fa-users"></i>
        <span>Cortes</span>
      </div>
      <div class="nav-item">
        <i class="fas fa-users"></i>
        <span>Impresiones</span>
      </div>
      <ng-template 
      [ngIf]="isLoggedIn$ | async" 
      [ngIfThen]="signOutButton"
      [ngIfElse]="loginButton"
      >
      </ng-template>
      <ng-template #loginButton>
        <button
        class="p-1 text-white bg-blue-700 rounded-lg shadow-lg"
        (click)="goToLogin()"
        >
        Iniciar sesión
        </button> 
      </ng-template>
      <ng-template #signOutButton>
        <button
        class="p-1 text-white bg-blue-700 rounded-lg shadow-lg"
        (click)="signOut()"
        >
        Cerrar sesión
        </button> 
      </ng-template>
    </div>
  </div>
  