<div
  class="banner bg-red-600 text-white py-4 flex flex-col items-center justify-center relative"
>
  <!-- Título centrado -->
  <h1 class="text-3xl font-bold">La Casa del Acrilico</h1>
  <!-- Logo a la izquierda -->
  <img
    src="/Logo.png"
    class="logo-banner absolute top-0 left-0 z-0"
    width="110"
    height="110"
  />
  <div class="mt-5 mx-auto px-4 flex flex-wrap justify-center gap-4">
    <!-- Navigation -->
    <div class="flex justify-around py-4 nav-bar shadow-md">
      <div
        [ngClass]="{ active: router.url === '/home' }"
        class="nav-item cursor-pointer"
        (click)="goToHome()"
      >
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </div>
      <ng-template
        [ngIf]="isLoggedIn$ | async"
        [ngIfThen]="signOutButton"
        [ngIfElse]="loginButton"
      >
      </ng-template>
      <!-- Usuario Visitante  -->
      <ng-template #loginButton>
        <button
          [ngClass]="{ active: router.url === '/inventory/product' }"
          class="nav-item cursor-pointer"
          (click)="goToProducts()"
        >
          Productos
        </button>
        <button class="nav-item cursor-pointer" (click)="goToLogin()">
          Iniciar sesión
        </button>

        <!-- Usuario -->
      </ng-template>
      <ng-template #signOutButton>
        <div
          *ngIf="userRole == 'admin'"
          class="relative"
          (clickOutside)="closeDropdowns()"
        >
          <!-- Finance Button -->
          <div
            class="cursor-pointer nav-item-dropdown flex items-center"
            [ngClass]="{ active: router.url.startsWith('/bank') }"
            (click)="toggleFinanceDropdown($event)"
          >
            <i class="fas fa-dollar-sign"></i>
            <span>Financiamiento</span>
            <i
              class="ml-2 fas"
              [ngClass]="{
                'fa-chevron-down': !financeDropdownOpen,
                'fa-chevron-up': financeDropdownOpen
              }"
            ></i>
          </div>

          <!-- Dropdown Menu -->
          <ul
            *ngIf="financeDropdownOpen"
            class="absolute dropdown bg-white shadow-lg mt-2 w-40 z-10"
            [ngClass]="{ active: router.url.startsWith('/bank') }"
            style="left: 0"
          >
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/bank/banks') }"
              (click)="goToBanks(); closeDropdowns()"
            >
              Bancos
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/bank/banking') }"
              (click)="goToBanking(); closeDropdowns()"
            >
              Transacciones
            </li>
            <li
              *ngIf="userRole == 'admin'"
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/bank/providers') }"
              (click)="goToProviders()"
            >
              <i class="fas fa-users"></i>
              <span>Proveedores</span>
            </li>
            <li
              *ngIf="userRole == 'admin'"
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/bank/third') }"
              (click)="goToThirdParties()"
            >
              <i class="fas fa-users"></i>
              <span>Terceros</span>
            </li>
          </ul>
        </div>

        <div
          *ngIf="userRole == 'admin' || userRole == 'scheduler'"
          class="relative"
          (clickOutside)="closeDropdowns()"
        >
          <!-- Pricing Button -->
          <div
            class="nav-item-dropdown cursor-pointer flex items-center"
            [ngClass]="{ active: router.url.startsWith('/pricing') }"
            (click)="togglePriceDropdown($event)"
          >
            <i class="fas fa-dollar-sign"></i>
            <span>Precios</span>
            <i
              class="ml-2 fas"
              [ngClass]="{
                'fa-chevron-down': !priceDropdownOpen,
                'fa-chevron-up': priceDropdownOpen
              }"
            ></i>
          </div>

          <!-- Dropdown Menu -->
          <ul
            *ngIf="priceDropdownOpen"
            class="absolute dropdown bg-white shadow-lg mt-2 w-[103px] z-10"
            [ngClass]="{ active: router.url.startsWith('/pricing') }"
            style="left: 0"
          >
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/pricing/acrylic') }"
              (click)="goToAcrylics(); closeDropdowns()"
            >
              Acrilicos
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/pricing/mdf') }"
              (click)="goToMdf(); closeDropdowns()"
            >
              MDF
            </li>
            <li
              class="p-2 nav-item text-sm cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/pricing/poly') }"
              (click)="goTopolystyrene(); closeDropdowns()"
            >
              Poliestireno
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/pricing/vinyl') }"
              (click)="goToVinylCuts(); closeDropdowns()"
            >
              Vinilo de corte
            </li>
          </ul>
        </div>

        <div
          *ngIf="userRole == 'admin' || userRole == 'scheduler'"
          class="nav-item2 relative"
          (clickOutside)="closeDropdowns()"
        >
          <!-- Inventory Button -->
          <div
            class="nav-item-dropdown cursor-pointer flex items-center"
            [ngClass]="{ active: router.url.startsWith('/inventory') }"
            (click)="toggleInventoryDropdown($event)"
          >
            <i class="fas fa-dollar-sign"></i>
            <span>Inventario</span>
            <i
              class="ml-2 fas"
              [ngClass]="{
                'fa-chevron-down': !inventoryDropdownOpen,
                'fa-chevron-up': inventoryDropdownOpen
              }"
            ></i>
          </div>

          <!-- Dropdown Menu -->
          <ul
            *ngIf="inventoryDropdownOpen"
            class="absolute dropdown bg-white shadow-lg mt-2 w-[122px] z-10"
            [ngClass]="{ active: router.url.startsWith('/inventory') }"
            style="left: 0"
          >
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{
                active: router.url.startsWith('/inventory/materials')
              }"
              (click)="goToInventory(); closeDropdowns()"
            >
              Materiales
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{
                active: router.url.startsWith('/inventory/product')
              }"
              (click)="goToProducts(); closeDropdowns()"
            >
              Productos
            </li>
          </ul>
        </div>

        <div
          *ngIf="userRole == 'admin' || userRole == 'scheduler'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/clients') }"
          (click)="goToClients()"
        >
          <i class="fas fa-users"></i>
          <span>Clientes</span>
        </div>
        <div
          *ngIf="userRole == 'admin' || userRole == 'scheduler'"
          class="relative"
          (clickOutside)="closeDropdowns()"
        >
          <!-- Billing Button -->
          <div
            class="cursor-pointer nav-item-dropdown flex items-center"
            [ngClass]="{ active: router.url.startsWith('/invoice') }"
            (click)="toggleQuotationDropdown($event)"
          >
            <i class="fas fa-dollar-sign"></i>
            <span>Facturacion</span>
            <i
              class="ml-2 fas"
              [ngClass]="{
                'fa-chevron-down': !quotationDropdownOpen,
                'fa-chevron-up': quotationDropdownOpen
              }"
            ></i>
          </div>

          <!-- Dropdown button -->
          <ul
            *ngIf="quotationDropdownOpen"
            class="absolute dropdown bg-white shadow-lg mt-2 w-40 z-10"
            style="left: 0"
          >
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/invoice') }"
              (click)="goToInvoices(); closeDropdowns()"
            >
              Facturas
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              [ngClass]="{ active: router.url.startsWith('/quotation') }"
              (click)="goToQuotation(); closeDropdowns()"
            >
              Cotizacion
            </li>
          </ul>
        </div>

        <div
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/orders') }"
          (click)="goToOrders()"
        >
          <i class="fas fa-users"></i>
          <span>Pedidos</span>
        </div>
        <div
          *ngIf="userRole == 'admin'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/expenses') }"
          (click)="goToExpenses()"
        >
          <i class="fas fa-users"></i>
          <span>Egresos</span>
        </div>
        <div
          *ngIf="userRole == 'admin'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/employees') }"
          (click)="goToEmployees()"
        >
          <i class="fas fa-users"></i>
          <span>Empleados</span>
        </div>
        <div
          *ngIf="userRole == 'admin' || userRole == 'scheduler' || userRole == 'cuts_employee'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/schedule') }"
          (click)="goToSchedule()"
        >
          <i class="fas fa-users"></i>
          <span>Horario</span>
        </div>
        <div
          *ngIf="userAdmin === true"
          class="nav-item relative cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/control-panel') }"
          (click)="goToControlPanel()"
        >
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="#ffffff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            class="w-6 h-6"
          >
            <path
              d="M13 2 L13 6 11 7 8 4 4 8 7 11 6 13 2 13 2 19 6 19 7 21 4 24 8 28 11 25 13 26 13 30 19 30 19 26 21 25 24 28 28 24 25 21 26 19 30 19 30 13 26 13 25 11 28 8 24 4 21 7 19 6 19 2 Z"
            ></path>
            <circle cx="16" cy="16" r="4"></circle>
          </svg>
        </div>
        <div
          *ngIf="userRole"
          class="p-1 btn-signout absolute top-2 right-2 shadow-md cursor-pointer flex items-center"
          (click)="signOut()"
        >
          <svg
            viewBox="0 0 64 64"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="#ffffff"
            stroke-width="2.432"
            class="size-7 mr-2"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <polyline points="40 44 40 56 8 56 8 8 40 8 40 20"></polyline>
              <polyline points="48 40 56 32 48 24"></polyline>
              <line x1="28" y1="32" x2="56" y2="32"></line>
            </g>
          </svg>
          <span class="text-white">Salir</span>
        </div>
        <!-- Notifications Button -->
        <div
          *ngIf="userRole !== 'scheduler'"
          class="nav-item relative cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/notifications') }"
          (click)="goToNotifications()"
        >
          <!-- Bell Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
            />
          </svg>

          <!-- Red dot -->
          <span
            *ngIf="newNotification"
            class="absolute top-0 right-0 block h-2 w-2 rounded-full bg-red-300"
          ></span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
