<router-outlet></router-outlet>
<div
  class="banner bg-red-600 text-white py-4 flex flex-col items-center justify-center relative"
>
  <!-- Título centrado -->
  <h1 class="text-3xl font-bold">AT Nexus</h1>
  <!-- Logo a la izquierda -->
  <img
    src="/a.webp"
    alt="Logo"
    class="logo-banner absolute top-0 left-0 z-0"
    width="90"
    height="80"
  />
  <div class="mt-5 mx-auto px-4 flex flex-wrap justify-center gap-4">
    <!-- Navigation -->
    <div class="flex justify-around py-4 nav-bar shadow-md">
      <div
        [ngClass]="{ active: router.url === '/home' }"
        class="nav-item cursor-pointer"
        (click)="goToHome()"
      >
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </div>
      <ng-template
        [ngIf]="isLoggedIn$ | async"
        [ngIfThen]="signOutButton"
        [ngIfElse]="loginButton"
      >
      </ng-template>
      <!-- Usuario Visitante  -->
      <ng-template #loginButton>
        <button class="relative" (click)="goToLogin()">Iniciar sesión</button>

        <!-- Usuario -->
      </ng-template>
      <ng-template #signOutButton>
        <div
          *ngIf="userRole == 'admin'"
          class="relative"
          (clickOutside)="closeDropdowns()"
        >
          <!-- Finance Button -->
          <div
            class="cursor-pointer nav-item-dropdown flex items-center"
            [ngClass]="{ active: router.url.startsWith('/bank') }"
            (click)="toggleFinanceDropdown($event)"
          >
            <i class="fas fa-dollar-sign"></i>
            <span>Financiamiento</span>
            <i
              class="ml-2 fas"
              [ngClass]="{
                'fa-chevron-down': !financeDropdownOpen,
                'fa-chevron-up': financeDropdownOpen
              }"
            ></i>
          </div>

          <!-- Dropdown Menu -->
          <ul
            *ngIf="financeDropdownOpen"
            class="absolute dropdown bg-white shadow-lg mt-2 w-40 z-10"
            style="left: 0"
          >
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goToBanks(); closeDropdowns()"
            >
              Bancos
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goToBanking(); closeDropdowns()"
            >
              Transacciones
            </li>
          </ul>
        </div>

        <div
          *ngIf="userRole == 'admin'"
          class="relative"
          (clickOutside)="closeDropdowns()"
        >
          <!-- Pricing Button -->
          <div
            class="nav-item-dropdown cursor-pointer flex items-center"
            [ngClass]="{ active: router.url.startsWith('/pricing') }"
            
            (click)="togglePriceDropdown($event)"
          >
            <i class="fas fa-dollar-sign"></i>
            <span>Precios</span>
            <i
              class="ml-2 fas"
              [ngClass]="{
                'fa-chevron-down': !priceDropdownOpen,
                'fa-chevron-up': priceDropdownOpen
              }"
            ></i>
          </div>

          <!-- Dropdown Menu -->
          <ul
            *ngIf="priceDropdownOpen"
            class="absolute dropdown bg-white shadow-lg mt-2 w-[103px] z-10"
            [ngClass]="{ active: router.url.startsWith('/pricing') }"
            style="left: 0"
          >
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goToAcrylics(); closeDropdowns()"
            >
              Acrilicos
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goToMdf(); closeDropdowns()"
            >
              MDF
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goTopolystyrene(); closeDropdowns()"
            >
              Poliestireno
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goToVinylCuts(); closeDropdowns()"
            >
              Vinilo de corte
            </li>
          </ul>
        </div>

        <div
          *ngIf="userRole == 'admin'"
          class="nav-item2 relative"
          (clickOutside)="closeDropdowns()"
        >
          <!-- Inventory Button -->
          <div
            class="nav-item-dropdown cursor-pointer flex items-center"
            [ngClass]="{ active: router.url.startsWith('/inventory') }"
            (click)="toggleInventoryDropdown($event)"
          >
            <i class="fas fa-dollar-sign"></i>
            <span>Inventario</span>
            <i
              class="ml-2 fas"
              [ngClass]="{
                'fa-chevron-down': !inventoryDropdownOpen,
                'fa-chevron-up': inventoryDropdownOpen
              }"
            ></i>
          </div>

          <!-- Dropdown Menu -->
          <ul
            *ngIf="inventoryDropdownOpen"
            class="absolute dropdown bg-white shadow-lg mt-2 w-[122px] z-10"
            style="left: 0"
          >
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goToInventory(); closeDropdowns()"
            >
              Materiales
            </li>
            <li
              class="p-2 nav-item cursor-pointer"
              (click)="goToProducts(); closeDropdowns()"
            >
              Productos
            </li>
          </ul>
        </div>

        <div
          *ngIf="userRole == 'admin'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/clients') }"
          (click)="goToClients()"
        >
          <i class="fas fa-users"></i>
          <span>Clientes</span>
        </div>
        <div
          *ngIf="userRole == 'admin'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/invoice') }"
          (click)="goToInvoices()"
        >
          <i class="fas fa-users"></i>
          <span>Facturas</span>
        </div>
        <div
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/orders') }"
          (click)="goToOrders()"
        >
          <i class="fas fa-users"></i>
          <span>Pedidos</span>
        </div>
        <div
          *ngIf="userRole == 'admin'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/expenses') }"
          (click)="goToExpenses()"
        >
          <i class="fas fa-users"></i>
          <span>Egresos</span>
        </div>
        <div
          *ngIf="userRole == 'admin'"
          class="nav-item cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/employees') }"
          (click)="goToEmployees()"
        >
          <i class="fas fa-users"></i>
          <span>Empleados</span>
        </div>
        <div
          class="p-1 nav-item absolute top-2 right-2 shadow-md"
          (click)="signOut()"
        >
          <!-- signOut Icon -->
          <svg
            viewBox="0 0 64 64"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="#ffffff"
            stroke-width="2.432"
            class="size-7"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <polyline points="40 44 40 56 8 56 8 8 40 8 40 20"></polyline>
              <polyline points="48 40 56 32 48 24"></polyline>
              <line x1="28" y1="32" x2="56" y2="32"></line>
            </g>
          </svg>
        </div>
        <!-- Notifications Button -->
        <div
          class="nav-item relative cursor-pointer"
          [ngClass]="{ active: router.url.startsWith('/notifications') }"
          (click)="goToNotifications()"
        >
          <!-- Bell Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
            />
          </svg>

          <!-- Red dot -->
          <span
            *ngIf="newNotification"
            class="absolute top-0 right-0 block h-2 w-2 rounded-full bg-red-300"
          ></span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
